[2015-12-24 07:42] saggafarsyad opened #3 "Private methods with @AfterPermissionGranted annotation is not executed"
I was looking at Request Permission example in Readme.md. I don't know if this is a bug or not, but private methods with @AfterPermissionGranted annotation will not be executed. I debug and found out in EasyPermissions.java line 176, getMethods() returns public methods according to JavaDoc

I change my method to public and it works.

[2015-12-24 15:40] samtstern commented on #3
This is definitely working as intended right now, but maybe it's possible to make it work for private methods.

If you know how to use reflection to find and invoke a private method without knowing its name, please submit a pull request and I'd be happy to merge it.

[2015-12-24 23:17] afollestad commented on #3
Using `getDeclaredMethod(String)` or `getDeclaredMethods()` will retrieve non-public methods in addition to public methods.

[2015-12-28 13:04] samtstern commented on #3
Fixed in #4

[2015-12-28 13:04] #3 closed

[2015-12-29 09:54] hnlbxb2004 opened #5 "On the use of the fragment inside"
If I use the fragment how to do that?

[2015-12-31 13:01] varunrramani commented on #5
You need context, so you can use "getActivity()" in place of "this"

[2016-01-05 13:38] pepe-pa opened #7 "Library does not work with android.app.Fragment, only with android.support.v4.app.Fragment"
Library does not work with android.app.Fragment, only with android.support.v4.app.Fragment

[2016-01-05 15:36] #5 closed

[2016-01-05 16:50] samtstern commented on #7
@pepe-pa using the support library is considered best practice, could you provide some more information as to why that does not work for your application>

[2016-01-06 00:46] pepe-pa commented on #7
Yes, of course, but with minApiLevel 15 it is not necessary to use support fragment and system permission system does not work only with support Fragments

[2016-01-06 17:32] samtstern commented on #7
The minSdk of this library is 9.  I would suggest using android.support.v4.Fragment in your app rather than changing this library to support system Fragments (which I do not intend to do currently).

[2016-01-13 05:36] mdakram opened #9 "Issue if requested permission denied by user."
It seems like there is an issue with this as it is calling request permission if user has denied the permission request. App perform slow, i am facing issue with text input if app user has denied the permission, logcat suggests App is requesting permission on continues basis.

[2016-01-13 16:22] samtstern commented on #9
Can you describe exactly the problem you are seeing? Sounds like you're getting into an infinite loop but I can't replicate that behavior in my sample app (see the `app/` directory for the code I am using).

[2016-01-26 17:27] Akash3hk commented on #9
I couldn't find any serious error. But It seems like you may have a trouble in the afterRequest loop.

[2016-01-26 18:08] samtstern commented on #9
@Akash3hk are you having any issues?

[2016-01-27 17:06] samtstern commented on #9
I am going to close this issue.  Please re-open if you can reproduce an error.

[2016-01-27 17:06] #9 closed

[2016-01-27 17:06] #7 closed

[2016-02-12 12:41] farhan-arbisoft opened #13 "Need 'requestCode' in 'onPermissionsGranted' function"
Hi,
     I need 'requestCode' in 'onPermissionsGranted' function to uniquely identify the flow.
It would be best if you add them in next update.

[2016-02-12 13:23] jmarkovic commented on #13
Hello,

Could you explain your usecase where having request code would benefit you more than using `@AfterPermissionGranted` annotation?

[2016-02-12 14:19] farhan-arbisoft commented on #13
I have 2 places in my app where its the requirement to ask permission.

When relevant permissions is granted i want to know the flow(place) from where the permission is asked and granted.

[2016-02-12 16:22] samtstern commented on #13
I like this idea, fix comin.

[2016-02-12 16:25] #13 closed

[2016-03-01 16:13] elsennov opened #15 "Not working on Service"
Hi, how can i requestPermissions inside the Service? Since the code will throw an exception if it is accessed from outside of activity or fragment.
Thanks :)

[2016-03-01 16:17] farhan-arbisoft commented on #15
No you can't. You can go into the source code for that.
It must need activity of fragment for that.

Ideally you should not call it from service because it needs the dialog to ask permission from user. You can call it at service or app starting time.

[2016-03-01 16:18] samtstern commented on #15
@elsennov this is a limitation of the Android M permissions system.  Because you need to show UI to the user, permissions can only be requested from an Activity or Fragment context.

You can check which permissions you have from a service, but you will need at least one Activity in your app for the user interaction to grant the permissions.

I am going to close this issue as it is not something I

[2016-03-01 16:18] #15 closed

[2016-04-27 09:40] codeteo opened #16 "Failure delivering result - Cannot execute non-void method"

[2016-04-27 09:41] #16 closed

[2016-05-04 18:36] saintjab opened #17 "Caller must be an Activity or a Fragment"
I am using EasyPermission from Fragment but I am getting this error: Caller must be an Activity or a Fragment. Help.

[2016-05-04 18:59] samtstern commented on #17
Make sure you are using the support-v4 Fragments and not the Android SDK standard Fragment.

[2016-05-04 19:19] saintjab commented on #17
Unfortunately, I am using lots of Android SDK standard Fragment so I can't revert to the support fragment. Any other way to use this library in my current case?

[2016-05-04 19:23] samtstern commented on #17
Sorry right now this library only supports the support fragments.

It is generally best practice to use the support fragments and you should be able to drop it in to your application even if it's very complex.  It will be good for your app in the long run and it should not be much work.

[2016-05-04 19:23] #17 closed

[2016-05-07 12:03] k0shk0sh commented on #7
how about Preference Fragment?

[2016-05-09 15:34] samtstern commented on #7
@k0shk0sh not currently supported but that's a valid feature request.  I'll open a new issue for that.

[2016-05-09 15:34] samtstern opened #18 "Support PreferenceFragment"
Support PreferenceFragment if possible

[2016-05-09 15:35] samtstern opened #19 "Don't require permissions callbacks"
Using only annotations to receive permission results is valid in some simple use cases.

[2016-05-21 02:22] seang96 opened #20 "Methods not executing"
Any method with @AfterPermissionGranted annotation is not executed and the overriden methods onRequestPermissionsResult, onPermissionsGranted, and onPermissionsDenied do not execute for me. I implemented the class inside of a fragment class. I have tried to make the method with the annotation publc and private, both failed.

The permission does get granted/denied so it seems to be partially workin

[2016-05-21 18:10] samtstern commented on #20
@seang96 are you calling `EasyPermissions.onRequestPermissionsResult` in your Fragment?

[2016-05-21 18:11] samtstern commented on #20
Also make sure you always call `super.onRequestPermissionsResult(requestCode, permissions, grantResults);` whenever you Override it

[2016-05-22 15:48] seang96 commented on #20
Yeah, the method has both of those in there. I Implemented the class, I also tried @AfterPermissionGranted in the method that checks/requests/and handles what to do if the check succeeds, which only calls when I first check it.

`    @AfterPermissionGranted(RC_FINE_LOCATION)
    public void locationPermissions() {
        String perm = Manifest.permission.ACCESS_FINE_LOCATION;
        if (EasyPerm

[2016-05-23 17:25] #18 closed

[2016-05-23 18:40] samtstern commented on #7
@pepe-pa @k0shk0sh as of #21 this library now works with android.app.Fragment

[2016-05-23 18:41] samtstern commented on #17
@saintjab version 0.1.6 supports android.app.Fragment !

[2016-05-24 00:01] samtstern commented on #20
Where you have `requestPermissions(getContext(), ...` can you try replacing it with `requestPermissions(this, ...)` so that the object requesting the permissions is the `Fragment`?

[2016-05-24 01:24] seang96 commented on #20
Oh well, that worked. Was getContext() causing the method to be sent to the activity that the fragment is running in instead of the method inside of the fragment itself? Thanks for the fix.

[2016-05-24 02:03] samtstern commented on #20
Yeah returning results of permissions or startActivity calls to Fragments
relies on some interesting hacks that put the Fragment ID in the request
code.  But if the calling context is not a Fragment the system doesn't know
to do that.

On Mon, May 23, 2016, 6:24 PM seang96 <notifications@github.com> wrote:

[2016-05-24 02:37] #20 closed

[2016-06-07 19:04] samtstern opened #24 "Make permission rationale survive rotation"
If the user rotates while the rationale request is up, we leak the dialog and the request is lost

[2016-06-17 10:24] yelinaung opened #28 "Prevent rationale and permission denied dialog from showing multiple times"
My use case is that I have this "Shake to get the current location" which I show the request permission rationale dialog when the user shakes.
The tricky part is some users shake more than they should and the dialog appears more than one time.

I am sure this might not be case for most people and the simplest fix would be just

[code]
in both `requestPermissions` and `checkDeniedPermissionsNeverAs

[2016-06-17 13:37] yelinaung commented on #28
Right after opening the issue, I did a work around without changing anything. So, if you guys feel this change is not necessary, please feel free to close this issue. :)

[2016-06-17 17:49] samtstern commented on #28
@yelinaung thanks for the report.  It's probably better to just change something on the app side like you did, but of course if you want to submit a PR that fixes this internally I would be more than happy to review it.

I'll close the issue for now, since it's an optional fix.

[2016-06-17 17:49] #28 closed

[2016-06-30 15:27] jaibatrik commented on #19
If the requirement for the callbacks are removed, we can have more intuitive overloads of `requestPermissions` accepting either `Activity` or `Fragment` as the first argument.

[2016-06-30 15:30] samtstern commented on #19
@jaibatrik yep that would be nice.  I keep putting this task off as other things come up, if you have time and want to submit a PR I'd be happy to review.

[2016-07-02 07:25] jaibatrik commented on #19
Sure, looking into it :)

[2016-07-03 06:21] jaibatrik commented on #19
@samtstern Do we have any plans on how to go about this?

The simplest way would be to not change the signature of the `requestPermissions` method and still allow it to accept an `Object`. Then we can just skip the calls to `onPermissionsGranted` and `onPermissionsDenied` if the `Object` is not an instance of `PermissionCallbacks` and just call `runAnnotatedMethods`.

The document needs to updated

[2016-07-04 15:04] SimonSchubert opened #30 "SecurityException"
I get the following error via crashlyics on a 5.1.1 Samsung SM-A710Y device. It's a one out of 10k. Anyone has an idea how that can happen?

Fatal Exception: java.lang.SecurityException
Client must have ACCESS_FINE_LOCATION permission to request PRIORITY_HIGH_ACCURACY locations.

[code]

[2016-07-06 16:50] samtstern commented on #30
@SimonSchubert on a 5.1.1 device there are no runtime permissions so EasyPermissions is likely not the problem.  Did you remember to add both of those permissions to your `AndroidManifest.xml`?

[2016-07-06 16:52] samtstern commented on #19
@jaibatrik that sounds like a pretty good plan.  The key thing is not to break existing API calls or behavior, updating the documentation to say that the callbacks are optional should not be too hard.

[2016-07-07 09:15] SimonSchubert commented on #30
@samtstern Thank your for the help.

Both permissions are in the manifest:
[code]

And I also got 6 users out of 10k with a 6.0.1 Android device. 5 x OnePlus A0001 and 1 x LeMobile Le X820. None of the devices are rooted. How can this happen and what should I do? Should I put an ugly SecurityException try and catch around the failing line?

[2016-07-07 17:01] samtstern commented on #30
@SimonSchubert just to be totally sure:

  * Are your `<uses-permission>` elements **outside** of the `<application>` tag?
  * Are you using any other permissions in your app, and are you seeing any issues with those?

[2016-07-08 13:05] SimonSchubert commented on #30
@samtstern yes both permissions are outside of the application tag. And I didn't see any issue like this with other permissions so far. It definitely works for 99.9% of the users. That is really weird.

The whole Exception:

       at android.os.Parcel.readException(Parcel.java:1620)
       at android.os.Parcel.readException(Parcel.java:1573)
       at com.google.android.gms.location.internal.zzi$

[2016-07-08 16:06] samtstern commented on #30
@SimonSchubert that's really strange ... unfortunately without a reproduction case and given that it works for 99.9% of users I'd say it has nothing to do with EasyPermissions.  This library just calls out to system APIs for checking and granting permissions, and on Android 5.1.1 those should be no-ops.

It's possible that your users have custom ROMs and are overriding certain permissions, but sin

[2016-07-08 16:06] #30 closed

[2016-07-11 13:40] Tortel commented on #30
The OnePlus One ships with CyanogenOS, which I believe allows users to disable permissions, even on 5.x

[2016-07-12 04:28] farhad-kargaran opened #32 "rationale string not display in the very first time permission request"
EasyPermissions.requestPermissions(this, "I need this",  100 , perms);

The sentence "I need this" not displayed the very first time in requesting permission, but for further more request it will display.
If I turn permission on and off it again from setting. the sentence not display again for first request!

I am using easypermissions:0.1.8 on LG G4 H815P  android 6.0

[2016-07-12 05:55] samtstern commented on #32
@farhad-kargaran that's how the Android permissions system works.  Rationale is only shown after the user has denied the permission once.

[2016-07-12 05:55] #32 closed

[2016-07-12 05:57] farhad-kargaran commented on #32
ok thank you

[2016-07-12 11:49] SimonSchubert commented on #30
@samtstern ok it is safe to say that it doesn't have todo anything with the easypermissions library.

Thanks for the help. If anyone else has ideas, please let us know.

For now I will stick with the ugly try and catch solution.

@Tortel Ok this could explain the 5.x crash but not the 6.x, or?

[2016-07-12 15:23] samtstern commented on #19
Fixed by #31

[2016-07-12 15:23] #19 closed

[2016-07-13 02:57] tru2malice opened #34 "Having issues getting the newest version."
Failed to resolve: pub.devrel:easypermissions:0.1.9
But 0.1.8 still works No Problem.

"---Edit---" It works if I use:

compile 'pub.devrel:easypermissions:0.1.9@aar'

[2016-07-13 03:10] kongnanlive commented on #34
me too

[2016-07-13 16:35] samtstern commented on #34
@tru2malice thanks for the report, it looks like my POM got lost in the last upload.  I have fixed it now and you should be able to use `0.1.9` without the `@aar` suffix.

[2016-07-13 16:35] #34 closed

[2016-08-11 10:11] tsadoklf opened #36 "RuntimeException has wrong message"
The RuntimeException thrown in runAnnotatedMethods method in the following if block has wrong message -

`  if (method.getParameterTypes().length > 0) {
                        throw new RuntimeException(
                                "Cannot execute non-void method " + method.getName());
                    }`

The message should say something like "Cannot execute method [method name] because i

[2016-08-26 17:04] IgorGanapolsky opened #40 "Could not create plugin of type 'AndroidMavenPlugin'"
Hello,
upon building your app in Android Studio 2.2 Beta 2 with gradle plugin **com.android.tools.build:gradle:2.2.0-beta2**, I get the following error:

* Where:
Script '/Users/igorganapolsky/workspace/git/google/easypermissions/easypermissions/maven.gradle' line: 1
* What went wrong:
A problem occurred evaluating script.

If I debug the build from commandline, I see the following info:

Any idea

[2016-08-30 17:18] samtstern commented on #40
@IgorGanapolsky does this happen when you downgrade back to `classpath 'com.android.tools.build:gradle:2.1.0'` ?

[2016-09-01 13:35] IgorGanapolsky commented on #40
@samtstern If I use **com.android.tools.build:gradle:2.1.0**, then I cannot use Gradle **2.14.1**.  So it makes us stuck on old gradle versions.  But yes, that seems to fix the problem.

[2016-09-01 14:41] samtstern commented on #40
@IgorGanapolsky ok I will dig into this when I get a chance, unfortunately the current workaround is to use the older version of gradle (through the gradle wrapper)

[2016-09-05 20:34] Hackmodford commented on #36
This helped. I also suggest @tsadoklf made a pull request

[2016-09-09 06:23] specloli opened #42 "I just don't know where to feedback the issue"
why the nexus 6 and nexus6p didn't recevice nougat update anymore . THe release date is 8 -22..Two weeks later ,the old device have not recevice it ...I even want to change my phone to iphone 7 .  why ?
THere can't be any tech issuse...The only reason should be you want sell the new nexus ...

[2016-09-09 06:25] specloli commented on #42
And it is so bad..If this month it didn't come yet.I will buy iPhone And make my Nexus 6 a nethunter device .

[2016-09-09 15:11] #42 closed

[2016-09-09 15:11] samtstern commented on #42
@specloli this is not the right place to give feedback on general Android issues. Please only file issues here that have to do with the EasyPermissions library.

[2016-09-10 11:39] ekanshkaushik commented on #30
@SimonSchubert Were you able to figure this issue out ?

[2016-09-13 02:25] specloli commented on #42
I think you should tell me where to go . we are all android developer.  i start build my aosp rom .and i want to say .  nexus is good but what google do  is really bad.

[2016-09-22 17:00] Khoosham opened #45 "request permission method void ?? change it to boolean"
[code]

is it possible to change void and make it boolean.

i want to check the statement above if ever the user clicks cancel he is allowed in the app which i don't want only if return true then allow
in the return false i want to exit the app if he deny the message permission

[Image](http://prntscr.com/cl3zuh)
actually at the moment its not the case because its VOID can you make the change..Tha

[2016-09-22 17:48] samtstern commented on #45
@Khoosham we don't know right away if the user accepted or denied the permission, we can't synchronously return a `boolean` here.  You can use the `onPermissionsDenied` callback to do that.

[2016-09-22 17:48] #45 closed

[2016-09-22 18:42] Khoosham commented on #45
Thanks i got it working :+1:

[2016-10-13 08:58] ling9400 opened #46 "how to using it when the class not activity or fragment?"
i am getting the devicedId in just an util class,how should i do?

[2016-10-13 10:00] zhaoxiuyu opened #47 "有中文版说明吗？"
有中文版说明吗？

[2016-10-13 15:57] samtstern commented on #46
@ling9400 the short answer is "you can't" since in order to display the permission prompt we must have an Activity context to show the UI. This is not only a requirement of this library, but a requirement of the Android system.

You can **receive** the result of the EasyPermissions request in a non-Activity/Fragment class, but the request must be initiated from an Activity or Fragment.

[2016-10-13 15:57] #46 closed

[2016-10-13 15:59] samtstern commented on #47
@zhaoxiuyu sorry I don't speak any Chinese ... the best I can tell from google translate is that you're asking for a Chinese version?

I don't believe there is anything stopping you from using this library with chinese strings, if you want chinese documentation that would be better as a fork since I would not feel comfortable maintaining that.

[2016-10-13 15:59] #47 closed

[2016-10-16 13:20] zaijie1213 commented on #47
看不懂英文写什么代码

[2016-10-17 12:52] k0shk0sh commented on #24
this should have been the default implementation, instead of using an AlertDialog, whoever made this library should have used `DialogFragment` instead.

[2016-10-17 14:22] samtstern commented on #24
@k0shk0sh that's true, if you submit a PR I'd be happy to review.

[2016-10-17 14:25] k0shk0sh commented on #24
@samtstern i would like to do that, however, as you might know, this would cause the EasyPermission class to be rewritten again. i'll try my best to make it compatible with older version.
do expect a PR soon.

[2016-10-17 14:27] samtstern commented on #24
@k0shk0sh I think it should be possible to make the new behavior mostly backwards compatible, we can always fall back to an `AlertDialog` if the calling `Activity` is not an instance of `FragmentActivity`.

[2016-10-17 14:30] k0shk0sh commented on #24
I don't think that the instance of the object should matter, what really matter is that the activity is recreate-able or no. if i'm wrong please correct me.

[2016-10-17 14:38] samtstern commented on #24
After looking around it seems like you can actually use a `DialogFragment` outside of `FragmentActivity` so you may be right.

[2016-10-17 14:47] k0shk0sh commented on #24
Well, ok. i guess i might find a better solution to work around this, that does not require us to rewrite the whole library, i'll be trying it out and let you know the result.

[2016-10-17 16:35] k0shk0sh commented on #24
PR has been submitted.

[2016-10-18 10:06] amperas17 opened #49 "Add please the ability to make dialogs noncloseable please!"
Add .setCancelable(false) to AppSettingsDialog.Builder and to EasyPermissions.requestPermissions.
I want user could only press yes or no but couldn`t close dialog by click out of dialog area.

[2016-10-18 11:24] refaelsh commented on #49
+1

[2016-10-18 18:25] samtstern commented on #49
I think this is a good suggestion, I think non-cancelable is a good default.  I'll likely do this for the `0.2.0` release.

[2016-10-18 18:42] #36 closed

[2016-10-18 18:42] #40 closed

[2016-10-19 10:47] k0shk0sh commented on #49
in the latest commit to my PR, i made the Rationale & the AppSettings Dialog to not be cancellable.

[2016-10-20 16:08] samtstern commented on #24
Fixed by #52

[2016-10-20 16:08] #24 closed

[2016-10-20 16:08] samtstern commented on #49
Fixed by #52, release coming soon.

[2016-10-20 16:08] #49 closed

[2016-10-21 20:45] samtstern commented on #49
Published in version `0.2.1`

[2016-10-21 20:46] samtstern commented on #24
Version `0.2.1` release.

[2016-10-21 20:46] samtstern commented on #36
Version `0.2.1` released with this fix.

[2016-10-22 21:59] amperas17 commented on #49
Thank you, but you make only EasyPermissions.requestPermissions dialog nonclosable and AppSettingsDialog still could be closed!

[2016-10-23 23:18] samtstern commented on #49
@amperas17 yes that's true.  I will open an issue to track the second case.

[2016-10-23 23:19] samtstern opened #54 "Make AppSettingsDialog non-closeable and survive rotation"
Similar to what was done in #53 for the rationale dialog.

[2016-10-24 16:09] davin12x opened #55 "Exceptions?"
it's a weird issue
when i use plugin     compile 'pub.devrel:easypermissions:0.1.9'

Everything works perfects
As soon as I moved to latest build    compile 'pub.devrel:easypermissions:0.2.1'

I got binary XML exception on floating button, coordinate layouts?

[2016-10-25 18:22] samtstern commented on #55
Can you copy the exact exception you're getting here?  And what about
version 0.2.0?

On Tue, Oct 25, 2016, 3:09 AM Lalit Bagga <notifications@github.com> wrote:

[2016-11-09 16:19] phcannesson opened #57 "No callback when using in android.app.Fragment"
When using the library on an android.app.Fragment, I'm not receiving any callback if the rationale has been shown before the permission request. It works well if the rationale is not displayed.

I've taken a look at the code and it looks like the problem comes from the click listener for the rationale dialog, created here in RationaleDialogClickListener.java :

[code]
We are setting the host as th

[2016-11-10 18:06] samtstern commented on #57
@phcannesson this sounds like it could be a real bug, do you want to try to fix it and send a PR?  Would be happy to review.

I do remember there was some reason for needing to make the host the Activity, but I can't remember what it was right now.

[2016-11-10 18:06] samtstern commented on #55
@davin12x since it's been 2 weeks and I have not gotten any other reports I am going to close this issue.  However since it does sound like a serious crash, if you can provide more information I would be happy to re-open and discuss.

[2016-11-10 18:06] #55 closed

[2016-11-11 15:53] j-garin commented on #57
Hi. I have bumped into the very same issue.
However, I think it is caused by a different part of code (see below). By the looks of it, using android.app.Fragment requires Marshmallow. Is there any reason behind this or it was meant to be Honeycomb?

Here's a piece of EasyPermissions.java
[code]

[2016-11-11 15:54] samtstern commented on #57
@j-garin the reason for the Marshmallow check is because runtime permissions are irrelevant below that.  The permission checks should always return true.

[2016-11-11 16:00] j-garin commented on #57
@samtstern not sure why it applies only to android.appFragment, but not support fragments and activities?

[2016-11-13 19:33] refaelsh commented on #49
Was an issue opened regarding "AppSettingsDialog still could be closed!"?

[2016-11-14 15:54] phcannesson commented on #57
@samtstern I'll create a PR as soon as I can.

[2016-11-15 21:51] samtstern commented on #49
@refaelsh yes that's #54

[2016-11-17 14:12] refaelsh commented on #54
+1

[2016-11-17 16:42] mhmada commented on #54
#54

[2016-11-22 09:28] s3hengwu opened #58 "Error:(404, 23) 错误: 找不到符号"
Error:(404, 23) 错误: 找不到符号
符号:   方法 isAnnotationPresent(Class<AfterPermissionGranted>)
位置: 类型为Method的变量 method

[2016-11-22 15:54] samtstern commented on #58
@s3hengwu I'm sorry I don't speak Chinese and I tried to use Google Translate but I still don't understand the issue here.  Maybe you could try StackOverflow or another forum to get help?

[2016-11-22 15:54] #58 closed

[2016-11-29 18:09] prakasa1904 opened #59 "What mean rationale_camera ?"
I dont see this ID "rationale_camera" in any file, can u explain what that mean ? and how to implement

thanx

[2016-11-29 18:15] prakasa1904 commented on #59
sorry, already found it, that mean string Im not read :D ....

[2016-11-29 18:16] prakasa1904 commented on #59
thanx so much

[2016-11-29 18:42] #59 closed

[2016-12-04 09:20] MahmoudAlyuDeen commented on #54
+1
Or at least have an option in the builder to set a listener for dialog dismissal, that way we can handle users simply clicking outside.

[2016-12-06 14:02] rupinderjeet opened #60 "Support for Overlay or DrawOverOtherApps Permission"
Generally, this permission is allowed for most of the devices and APIs. It is a part of SYSTEM_ALERT_WINDOW permission. Following devices and APIs specially need to request it to draw over other apps. For e.g. drawing Chat Heads like Facebook Messenger.

I check for this permission like this:
[code]

I, also, check that back in `onResume()`

Can you support this?

[2016-12-06 18:46] samtstern commented on #57
This is fixed in `master`.  Thanks @phcannesson

[2016-12-06 18:46] #57 closed

[2016-12-06 18:47] samtstern opened #62 "Short-circuit the library much earlier on API < 23"
This library should just do nothing on pre-M devices, but our API-level checks are too far down the pipeline which creates a lot of code branches that are practically unreachable but just there to satisfy the lint checker and the compiler.

See #61 for some discussion.

[2016-12-06 18:49] samtstern commented on #60
@rupinderjeet it seems that getting that permission requires sending an Intent with `ACTION_MANAGE_OVERLAY_PERMISSION`, which has a totally different lifecycle when compared to other permissions.

While I am not opposed to adding this support in theory, I am concerned that it will be hard to fit into the mental model of this library and it may be better handled separately.

[2016-12-07 12:45] rupinderjeet commented on #60
You're right. It wouldn't fit in the regular permission request and retrieval model.

[2016-12-07 12:45] #60 closed

[2016-12-07 15:31] rogyinapp opened #63 "Method.isAnnotationPresent method removed from the API 24 SDK"
Solved problem by modifying code locally in **EasyPermissions.java** class

  if (method.isAnnotationPresent(AfterPermissionGranted.class)) {
**to**
   if (method.getAnnotation(AfterPermissionGranted.class) != null) {

[2016-12-07 15:57] samtstern commented on #63
@rogyinapp could you explain the issue you're having?  `Method#isAnnotationPresent` comes from the [AnnotatedElement](https://docs.oracle.com/javase/7/docs/api/java/lang/reflect/AnnotatedElement.html) class which is part of Java, not the Android SDK.  As far as I can tell it has not changed at all between Java 7 and Java 8, so it's not deprecated and it's definitely not "removed" in Android 24 (or

[2016-12-08 13:09] j-garin commented on #57
Will there be a library update with this fix?

[2016-12-09 16:31] samtstern commented on #57
@j-garin I normally wait until a few bugfixes in a row have landed and then bundle them all up into a release.

Have you tried installing from `master`?  If you're having problems with that, let me know.

[2016-12-12 10:03] j-garin commented on #57
@samtstern it's not critical. I will wait for the next release. Thank you.

[2016-12-15 17:13] samtstern opened #65 "Crash when requesting permissions"
Using version `0.2.1` I am sometimes seeing this crash in production:

[code]

[code]

[2016-12-15 17:16] samtstern commented on #65
It's not clear to me if this is a bug in EasyPermissions or in the application (very likely the latter) but it will be good to investigate and provide guidance to others.

[2016-12-20 10:06] rogyinapp commented on #63
Please check below links
https://code.google.com/p/android/issues/detail?id=222709
https://developer.android.com/sdk/api_diff/24/changes/java.lang.Class.html

[2016-12-21 09:50] MartinLi2015 opened #66 "I don't find the proguard rules"

[2016-12-21 14:52] tryadelion opened #67 "What does AfterPermissionGranted expect as parameter?"
I'm tring and failing to use this library, what does this annotation method expect as input? where do i get it from?
![captura de pantalla 2016-12-21 a las 15 50 25](https://cloud.githubusercontent.com/assets/3778474/21393557/41e5d52c-c795-11e6-81d0-b55a88ae8571.png)

[2016-12-21 15:38] tryadelion opened #68 "Request dialog not being thrown"
When requesting permissions using EasyPermissions request method, the permission goes automatically to denied without showing any kind of dialog.
![captura de pantalla 2016-12-21 a las 16 33 33](https://cloud.githubusercontent.com/assets/3778474/21395189/db624702-c79b-11e6-9aac-b156b9a9b4c9.png)

[2016-12-21 15:42] #67 closed

[2016-12-21 15:42] tryadelion commented on #67
it should be noted somewhere in the docs that what's required is "A" requestcode.

[2016-12-21 16:56] samtstern commented on #68
@tryadelion do you have those permissions declared in your manifest?  Also is the device you're using running Marshmallow or later?

[2016-12-21 16:56] samtstern commented on #66
@MartinLi2015 can you clarify your request?  This library does not provide any consumer proguard rules.

[2016-12-22 07:14] tryadelion commented on #68
Yup, and Yup. it's 6.0.1 Android running on a BQ M5, the permissions are declared, and as soon as i debug the requestPermissions() bit of code, it jumps to onPermissionDenied. tried deleting the app, just incase someone messed with my permissions, and reinstalled it, and got the same result.

[2016-12-22 16:16] samtstern commented on #68
@tryadelion huh ok, that's very strange.  Is this device specific?  Could you try your code on an Android emulator to make sure it works there?

[2016-12-29 07:06] Kevin-Kuloth opened #69 "How to deny the request dialog with rational string by easy permission"
I don't want the alert dialog shown by the easy permission before the actual permission dialog.

[2017-01-03 06:58] mrldroid opened #70 "Infinite loop if i have a method that need runtime permission in onResume()."
when requesting permission in onResume(), i deny the permission with the "Never Ask Again" option,then show AppSettingsDialog. However it seems the onResume() is always running,and the AppSettingsDialog splash all the time.

[2017-01-03 16:01] samtstern commented on #70
@mrldroid can you provide some code that demonstrates the problem?

[2017-01-03 16:02] samtstern commented on #69
@Kevin-Kuloth the alert dialog is only shown before the permission dialog if the user has denied the permission at least once. This is because the Android permissions system tells us we should show rationale, and this is considered best practice.

I believe this is working as intended so I will close the issue, please re-open and add details if I have misunderstood.

[2017-01-03 16:02] #69 closed

[2017-01-03 16:03] samtstern commented on #66
@MartinLi2015 it's been a little while without an update and there's not enough for me to go on so I am going to close this issue.  Please re-open it with more information if you're still stuck.

[2017-01-03 16:03] #66 closed

[2017-01-04 09:31] tryadelion commented on #68
For some reason, wiping up AS (clear cached things and running a build clean) after some vacation days made it work. something somehow got stuck in there. Anyway, it works now, thank you very much for your help.

[2017-01-04 09:31] #68 closed

[2017-01-04 15:52] samtstern commented on #68
@tryadelion :man_shrugging: glad it worked!

[2017-01-06 02:40] Bertkiing opened #71 "InflateException of inflating class android.support.design.widget.FloatingActionButton"
![dfs](https://cloud.githubusercontent.com/assets/19733128/21705629/138408f2-d3fc-11e6-8816-81ddf7cf173a.png)

I try many times but the error also occur,and I cofirm the cause is use your library...

[2017-01-06 17:20] samtstern commented on #71
@Bertkiing can you show your `build.gradle` file?

[2017-01-09 10:05] Bertkiing commented on #71
Ok,I guess you just want this:
![project](https://cloud.githubusercontent.com/assets/19733128/21762879/00b0b120-d696-11e6-9b42-82afdb9c19d3.png)
![app](https://cloud.githubusercontent.com/assets/19733128/21762886/0c10f89a-d696-11e6-8cc0-cff721af3706.png)

Thanks for your reply!

[2017-01-09 16:07] samtstern commented on #71
@Bertkiing I'd like to see the `dependencies` block from the file in the second screenshot.

[2017-01-11 08:56] Bertkiing commented on #71
I'm so sorry for cannot reply to you in time. This is :
![error](https://cloud.githubusercontent.com/assets/19733128/21841791/c64ede28-d81e-11e6-991a-33080d07e903.png)
Hope to help you.

[2017-01-11 11:42] youfacepalm commented on #65
Would it be because you are trying to open a DialogFragment within onActivityResult() method?

[2017-01-11 15:55] samtstern commented on #65
@youfacepalm is doing so a known issue?  It's also worth nothing that we only saw this crash on API 23 devices, not 24 or 25 devices.

[2017-01-11 15:57] samtstern commented on #71
The latest version of EasyPermissions is targeting support library versions `25.0.0`.  Could you try updating your support libraries to some `25.*` version and seeing if that helps?  I suspect it will.

[2017-01-12 04:06] youfacepalm commented on #65
Yes. Please check [this](http://stackoverflow.com/a/18345899/3533289) StackOverflow answer by Alex Lockwood as he explains why it is a bad idea to commit fragment transaction in onActivityResult().

There is also another AOSP [bug](https://code.google.com/p/android/issues/detail?id=207269) being tracked related to DialogFragments throwing IllegalStateException. It primarily happens when DialogFrag

[2017-01-12 10:55] Bertkiing commented on #71
## Despite my best effort though, I could not achieve the required---update **# all** libraries to 25.., you can see that
![error](https://cloud.githubusercontent.com/assets/19733128/21886782/30ab67f8-d8f8-11e6-8623-166b8aca43f5.png)

Recently ,I having too much work  so than I cannot help  you absolutely ,  when I am free I will check the problem again.

[2017-01-12 15:51] samtstern commented on #71
@Bertkiing `25.4.0` does not exist.  Try `25.1.0`

[2017-01-13 11:55] Bertkiing commented on #71
Cool beans! Thanks a billion.

[2017-01-19 04:14] SUPERCILEX commented on #63
@samtstern the reason this isn't relevant to us and the code still compiles is because we use `Method#isAnnotationPresent` implemented in `AbstractMethod#isAnnotationPresent` from the interface `AnnotatedElement#isAnnotationPresent`. @rogyinapp Your diff show that `Class#isAnnotationPresent` was removed, not `AnnotatedElement#isAnnotationPresent`. In addition, it looks like that diff is wrong for

[2017-01-19 04:20] SUPERCILEX commented on #71
@samtstern, I believe this issue has been resolved.

[2017-01-19 04:49] SUPERCILEX commented on #63
I did some more research and the only difference I can see between api levels 23 and 24 are that `AnnotatedElement#isAnnotationPresent` now includes a default implementation and the implementation for `isAnnotationPresent` have moved from `Method` to `AbstractMethod`. @rogyinapp are you experiencing a compile error? I'm confused because to `Method`, only the implementation details have changed and

[2017-01-19 16:19] #71 closed

[2017-01-20 22:29] samtstern commented on #70
@mrldroid it's been over two weeks since the last update so I am going to close this issue.  Please re-open if you want to discuss further.

[2017-01-20 22:29] #70 closed

[2017-01-23 13:31] sandeeptengale opened #77 "Rationale dialog is not showing buttons"
Rationale button which showing the message on the first rejection of the permission is not showing any of the buttons like 'ok' or 'cancel'.

User will not get to know what to do in that case.

I checked it on Samsung s6 and Moto G4 plus

[2017-01-23 16:03] samtstern commented on #77
@sandeeptengale do you have a screenshot?  Also what version of easypermissions are you using?

[2017-01-24 06:12] sandeeptengale commented on #77
Am using 0.2.1 version, unable to share screenshot here as github having some problem in image loading.

I can describe it, it shows the rationale message in a dialog box with no cancel or ok button. Just a dialog box with message I set.

[2017-01-24 16:06] samtstern commented on #77
@sandeeptengale can you try running the sample app that is included with this repository and see if it displays the same problem?  That will help narrow down the cause

[2017-01-24 19:50] samtstern commented on #65
This should be fixed by #75 since we no longer use a `DialogFragment` directly but rather launch a transparent 'host' Activity to contain the `DialogFragment`.

[2017-01-24 19:50] #65 closed

[2017-01-24 19:50] samtstern commented on #62
This is fixed by #76

[2017-01-24 19:50] #62 closed

[2017-01-24 19:51] samtstern commented on #54
This is fixed by #75.  Will be released in the next version.

[2017-01-24 19:51] #54 closed

[2017-01-24 19:51] samtstern commented on #63
I think @SUPERCILEX is correct here, I have not seen any issues or heard any other reports so I am going to close this.

[2017-01-24 19:51] #63 closed

[2017-01-25 05:52] sandeeptengale commented on #77
It's because of accent color which is very light to see. I changed it to black, it started showing cancel and ok.
Thanks

[2017-01-25 05:52] #77 closed

[2017-02-07 05:39] afif1991 opened #79 "App crashes"
Once I denied permission permanently(Never ask)  and after that when I try to call the same requestPermission method, app crashes.

[2017-02-07 05:42] SUPERCILEX commented on #79
@afif1991 Could you show some code and a stack trace? It works fine in my app.

[2017-02-07 06:30] afif1991 commented on #79
Closing this issue.. Occurs only on Letv device , working fine on all other devices. If i find exact reason then i will post it here.

[2017-02-07 06:30] #79 closed

[2017-02-07 10:00] vipulasri opened #80 "Why multiple request asked at the same time?"
At starting of the app, I have READ_SMS permission and WRITE_EXTERNAL_STORAGE permission after signup.
Now the issue is as soon as I allow READ_SMS permission, it asks me for WRITE_EXTERNAL_STORAGE permission after that only(signup not done). How to stop this behavior and ask user permission only when required.

[2017-02-07 15:50] samtstern commented on #80
@vipulasri I don't quite understand your issue, can you post some code that reproduces the problem?

[2017-02-07 16:21] vipulasri commented on #80
@samtstern I mean I am asking two different permissions on two different activities or fragments but as soon as first activity asks for a permission only related to that activity (Ex. Send OTP screen asks for READ_SMS) then another permission (i.e WRITE_EXTERNAL_STORAGE) on another activity and that screen is not yet called or displayed. Still, after allowing first READ_SMS permission, it asks for

[2017-02-07 16:22] samtstern commented on #80
@vipulasri so you have two fragments in the same Activity requesting different permissions?  Where do you actually call `reuestPermissions`?

[2017-02-07 16:25] vipulasri commented on #80
@samtstern No, I have one request permission in a fragment associated with another activity and second request permission in different activity.

[2017-02-07 16:26] samtstern commented on #80
@vipulasri please show me how you are requesting the SMS permission.

[2017-02-07 16:27] vipulasri commented on #80
[code]

[2017-02-07 16:30] samtstern commented on #80
And where do you request the external storage permission?  I need some context with these code snippets, the behavior you're describing is guaranteed to be some strange issue in how your code is set up so only showing me basic code will not get to the root of the problem.

[2017-02-07 16:34] vipulasri commented on #80
I request the external storage permission(if not permitted), whenever the user has to select a picture from the device and upload it. And request external storage permission is implemented in BaseActivity so that I can reuse the feature when needed.

[2017-02-07 17:05] samtstern commented on #80
Are you re-using the same request code for each (`RC_READ_SMS_PERM`)?  Try using different request codes in the `requestPermissions` and `@AfterPermissionGranted` annotations.

[2017-02-07 17:08] vipulasri commented on #80
I am already using different request codes for both permission requests.

[2017-02-07 17:12] samtstern commented on #80
@vipulasri I am going to need to see more code to debug, there has not been enough information provided in this thread to lead to the source of the problem.  If you'd prefer this can be done on StackOverflow.

[2017-02-09 06:46] usedlie opened #81 "if user grante all permissions very quickly ,then the app will crash"
if one use this repository normal,then everything is fine;
but i try to test it :)
step 1:
uninstall the app ,and then install app,then  grant all permissions very quickly ,then the app will crash;
i don't see the crash log :( ..
but i reopen the app,and crash again ,and see the log:

`02-09 14:14:54.695 3013-3013/com.hgrica.obdclient E/AndroidRuntime: FATAL EXCEPTION: main

[2017-02-09 06:49] SUPERCILEX commented on #81
@usedlie I'm pretty sure this was fixed in https://github.com/googlesamples/easypermissions/pull/78 which hasn't been released yet.

[2017-02-09 06:54] usedlie commented on #81
@SUPERCILEX really?
but i notice that #78 is about fragment;
my problem is i have already granted all permissions ,but still EasyPermissions.hasPermissions(this, PERMISSIONS_ALL) return false.

forgive me , i just want to make sure this:)

[2017-02-09 06:59] SUPERCILEX commented on #81
@usedlie `EasyPermissions.hasPermissions` shouldn't cause a crash related to a `ClassCastException` so I'm pretty sure #78 fixes it. You could always check by using [JitPack](https://jitpack.io/#googlesamples/easypermissions/178bc41bcc).

[2017-02-09 07:52] usedlie commented on #81
@SUPERCILEX
i try to delete the code about EasyPermissions;
try to ruquest permission in "system" way!
still ,i do these steps for over 10 times:

- delete app
- install app
- grant all the permissions very quickly

and i find there is one time that the app crash!
so i do these steps more time ,but it doesn't crash anymore;

so fucking weird!
so maybe the carsh is none of EasyPermissions's busines

[2017-02-09 07:52] #81 closed

[2017-02-11 07:24] vipulasri commented on #80
@samtstern I figured out the problem. Problem was I was having external storage permission in my base activity and the activity which was requiring permission for read sms was extending BaseActivity which was creating issue as `onRequestPermissionsResult` was calling its super method thus calling base activity `onRequestPermissionsResult`.

[2017-02-11 07:24] #80 closed

[2017-02-15 09:29] BinarySatan opened #82 "request call permission, can't click to allow"
easypermission version -> 0.2.1     phone model -> nexus5  6.0     has bean root

[code]

[2017-02-15 16:12] samtstern commented on #82
@BinarySatan what do you mean "can't click to allow"?

[2017-02-16 02:25] BinarySatan commented on #82
@samtstern  yes,  It should be problem with my cell phone.
  when I refuse a permission, request permission again and click no longer ask, allow button  grayed。

[2017-02-16 09:49] splangi opened #84 "Annoteated methods not run when method is in super class"
`for (Method method : clazz.getDeclaredMethods()) {
            if (method.isAnnotationPresent(AfterPermissionGranted.class)) {
               /* more code */
            }
        }`

When using a base class (e.g. BaseFragment) which has annoteated AfterPermissionGranted methods  then these are not run. The reason seems to be that clazz.getDeclaredMethods() only returns the methods which are decl

[2017-02-16 16:18] samtstern commented on #82
@BinarySatan can you try it on another device maybe?  There's no reason for the allow button to be disabled, I don't think this is an issue with EasyPermissions.

[2017-02-16 16:19] samtstern commented on #84
@splangi that is in fact the current intended behavior but if you want to submit a pull request to change this behavior I see no problem with running annotated methods in super classes.

[2017-02-22 16:18] #84 closed

[2017-02-22 16:18] samtstern commented on #84
A fix for this has been merged, will be in the next release.

[2017-03-06 06:32] weilixing00 opened #88 "can not get the correct result"
in HuaWei Mate7 (android 4.4) when i ask for camera permission, i choose refuse ,but show me i have the permission and can not call camera.
what should i do ?

[2017-03-06 08:42] gotoark commented on #88
Phones with Android Version<6 doesn't need Runtime Permission.Adding the Permissions in Manifest.xml is enough

[2017-03-06 16:13] samtstern commented on #88
Thanks @gotoark.

That is the correct answer, if you're running Android version earlier than 6.0 the runtime permissions code does nothing.

[2017-03-06 16:13] #88 closed

[2017-03-06 16:14] samtstern commented on #82
@BinarySatan it's been a few weeks since your last update so I am going to close this issue.  If you have more information, please comment and I will re-open.

[2017-03-06 16:14] #82 closed

[2017-03-13 07:08] HuangShun opened #90 "Can't be used in Activity?"
If i used it in activity.first i refused,then i open it, show a dialog i click confirm it crashed.if i use AppCompatActivity don't have this problem.
`        java.lang.ClassCastException: com.example.me.androdnewfeature.MainActivity cannot be cast to android.support.v4.app.FragmentActivity
        at pub.devrel.easypermissions.RationaleDialogClickListener.onClick(RationaleDialogClickListener.java

[2017-03-13 07:47] piotrek1543 commented on #90
@HuangShun I suppose that you're beginner in Android and you don't know difference between `Activity` and 'AppCompatActivity' and 'FragmentActivity'. I don't want to copy-paste someone's else answer, so please read carefully Commonsware answer: http://stackoverflow.com/a/31297546/4730812

[2017-03-13 07:54] HuangShun commented on #90
@piotrek1543 Thank you

[2017-03-13 14:51] SUPERCILEX commented on #90
This was fixed in #78, but a new version hasn't been released yet. @samtstern Any idea when a new version will come​ out?

[2017-03-13 14:54] SUPERCILEX commented on #90
@samtstern SGTM!

[2017-03-13 20:05] thevoiceless opened #91 "Mention that the library is on Jcenter"
It might be useful to note that you must have `jcenter()` in the build.gradle repositories. I kept getting `Error:Failed to resolve: pub.devrel:easypermissions:0.3.0` and was a bit dumbfounded until I realized I only had `mavenCentral()`

Update: I now see [here](https://blog.bintray.com/2015/02/09/android-studio-migration-from-maven-central-to-jcenter/) that Jcenter has been the default for a whi

[2017-03-14 00:31] #90 closed

[2017-03-14 00:33] HuangShun commented on #90
thanks,I know how to do it @samtstern

[2017-03-16 18:46] spekary opened #93 "Single callback instead of 2?"
In a future version, could we have a single callback for the results, instead of onPermissionsGranted and onPermissionsDenied, perhaps something like
[code]

This would be much more useful. As it stands, I cannot have one callback that will tell me that I can use to figure both whether all were granted, and if not, which ones were not granted, so I can know whether to continue my application, or n

[2017-03-16 18:56] samtstern commented on #93
@spekary I think that's a very good idea.  I too have come to prefer the single callback style in APIs (`onComplete` vs `onSuccess` and `onFailure`).  If you want to submit a PR I'd be happy to review, otherwise I'll put it on my list.

[2017-03-18 21:07] refaelsh commented on #93
+1

[2017-03-25 06:14] Xanthuim opened #94 "the HTC D10w phone is invalid"
I have a HTC D10w phone, but it doesn't work.
`
public void callPhone()
    {
        Intent intent = new Intent(Intent.ACTION_CALL);
        Uri data = Uri.parse("tel:" + "10086");
        intent.setData(data);

// first time -> false,
        if (ContextCompat.checkSelfPermission(this, Manifest.permission.CALL_PHONE) !=
                PackageManager.PERMISSION_GRANTED)
        {
// no dialog

[2017-03-27 13:43] cyq7on opened #96 "CHANGE_WIFI_STATE"
This  is a normal permission,why the example using it?

[2017-03-27 15:26] samtstern commented on #96
@cyq7on that's a good point!  We should use a dangerous permission.

[2017-03-27 15:28] #94 closed

[2017-03-27 15:28] samtstern commented on #94
@Xanthuim there is no EasyPermissions code in your example.

[2017-04-05 09:34] SethFeng opened #97 "Dialog leaked window"
E/WindowManager: android.view.WindowLeaked: Activity pub.devrel.easypermissions.AppSettingsDialogHolderActivity has leaked window DecorView@e08daea[] that was originally added here
                                                                at android.view.ViewRootImpl.<init>(ViewRootImpl.java:418)
                                                                at android.view.WindowManagerGlo

[2017-04-07 08:44] j-garin opened #98 "Rationale Dialog crashes app when used from android.app.Fragment"
Hello.
Looks like full android.app.Fragment support is still an issue. When I call easypermissions from android.app.Fragment and the user clicks on aby button in dialog, the  app crashes. Here are the logs:

[code]

[2017-04-07 15:44] samtstern commented on #98
Looks like this would be fixed by #78, which has been merged into master but not released yet.  I will do a new release soon!  Sorry about the delay here.

[2017-04-07 15:44] #98 closed

[2017-04-07 15:44] samtstern commented on #98
@j-garin you should be able to install a build from master if you're comfortable with that, happy to explain more if you need me to.

[2017-04-07 15:45] samtstern commented on #97
@SethFeng thanks for the report!  Do you have any steps to reproduce this?  I am going to guess it has to do with rotating the device when AppSettingsDialog is showing.

[2017-04-07 16:10] #96 closed

[2017-04-07 16:12] samtstern commented on #91
@thevoiceless thanks for the update!  I will close this issue since yes, jCenter is the default.  And I just sent a pull request over to that docs page to bump the version they recommend, so thanks for the fix :+1:

[2017-04-07 16:12] #91 closed

[2017-04-07 17:39] samtstern commented on #97
Yep I reproduced by those steps.

[2017-04-07 18:00] samtstern commented on #98
@j-garin just released `0.3.1` with this fix

[2017-04-10 10:02] ahmedeltaher opened #101 "Documentation needed"
Hello Contributors,
I tried to `use EasyPermissions` inside of  `PermissionsDispatcher` , but unfortunately , I don't find a good documentation for it , and I there is no enough information to use `annotations` .
Can you build a documentation ? , to make it easy to use .

[2017-04-10 16:15] mrzhqiang opened #102 "Find a crash"
1.callback EasyPermissions.PermissionCallbacks and show a dialog

[code]

2.click OK button
[code]

3.In my app permissions Settings page, Granted, Denied, Granted, and my app just crash.

[2017-04-10 16:32] mrzhqiang commented on #101
@ahmedeltaher https://github.com/googlesamples/easypermissions/blob/master/app/src/main/java/pub/devrel/easypermissions/sample/MainActivity.java

[2017-04-10 16:34] samtstern commented on #101
@ahmedeltaher is the library you are referring to:
https://github.com/hotchemi/PermissionsDispatcher

I would recommend only using EasyPermissions or PermissionsDispatcher, they do mostly the same thing and using them together could be complicated.

As @mrzhqiang suggested, there is a sample in the `app` folder and documentation in `README.md`

[2017-04-10 16:34] #101 closed

[2017-04-10 21:34] samtstern commented on #93
There was an attempt at this in #93 and it turned out to probably not be worthwhile.  We already have a single callback: the system callback.

Please see the discussion in that PR for more info.

[2017-04-10 21:34] #93 closed

[2017-04-10 21:34] samtstern commented on #93
Sorry, #95 (wrong link above)

[2017-04-14 05:47] triplezhao opened #104 "hasPermissions Always return true. build target=21 and run on avd 6.0"
[code]

[2017-04-16 10:26] PedroGabriel opened #105 "SDK 23.3.1 does not exists anymore?"
Always getting a 404 but it is getting used inside this plugin gradle

[2017-04-16 18:41] SUPERCILEX commented on #105
@PedroGabriel You can (and _**really should**_) use a higher version as long as you override all the support libs used in easypermissions. So for `v0.3.1` of easypermissions, you'll want to add `compile 'com.android.support:appcompat-v7:25.3.1'` to your `build.gradle` file. Hope that clears things up! 😄

[2017-04-16 20:10] PedroGabriel commented on #105
@SUPERCILEX it just worked today when I the `com.android.support:appcompat-v7` set to `25.3.1`

Not sure if it was really getting a 404 or I was just in need of sleep haha

Thank you for your explanation, I was not sure if my version was overriding the one set inside easypermissions but it all makes sense now 😄

[2017-04-16 20:10] #105 closed

[2017-04-16 20:12] SUPERCILEX commented on #105
@PedroGabriel Glad to clear things up!

[2017-04-17 10:18] triplezhao commented on #104
Thank for you reply.

I change  target SDK to 23。

[2017-04-17 15:14] #104 closed

[2017-04-18 08:27] freefly2016 opened #106 "when click the outside of the dialog ,the dialog dismiss,how can i set the dialog outside false?"

[2017-04-18 08:31] #106 closed

[2017-04-18 08:34] freefly2016 opened #107 "how can i set the dialog cancel and ensure text color"

[2017-04-18 11:51] ghuiii commented on #107
I have the same problem, The dialog background is white and the defautl text color also is white, so user cannot see the button

[2017-04-18 15:28] samtstern commented on #107
@ghuiii so is all text white throughout your application?  Would you prefer a dark dialog in your case?  EasyPermissions uses the theme from the context you pass in so I believe the color of the buttons will be `colorAccent`

[2017-04-19 01:27] freefly2016 opened #108 "in xiaomi ,when the location permission in xiaomi is ask not agree ,not refuse,the dialog don't show"
在小米手机上，第一次 请求定位权限，怎么不弹定位权限请求的弹窗呢？小米默认是询问，不是同意，不是拒绝。

[2017-04-19 17:22] samtstern commented on #108
@freefly2016 sorry but I can only provide support on this repo in English, I'd suggest asking this question on StackOverflow maybe someone can help you there!

Also if I understand the title correctly, please check the following:

- Device is running Android 6.0 or greater
- Compile SDK version is 23 or greater
- Permission is declared in `AndroidManifest.xml`

[2017-04-19 17:22] #108 closed

[2017-04-20 03:45] ThaiHuynhFossil opened #109 "Disable Rational"
How I can use custom rational dialog?

[2017-04-20 17:03] samtstern commented on #109
@ThaiHuynhFossil that's not currently possible.  You can specify a rationale message, but not a custom dialog.  The purpose of EasyPermissions is to implement a basic permissions flow as simply as possible, so if you need a custom flow this is probably not the right library for you.

[2017-04-20 17:03] #109 closed

[2017-04-26 00:50] samtstern commented on #102
@mrzhqiang sorry I took so long here, but can you show what the crash is?  Any stack trace would be helpful.

[2017-04-26 00:52] samtstern opened #112 "Improve test coverage"
Need to test:

Different requesting environments:

- Activity
- Fragment (framework)
- Fragment (support lib)
- API < 23

Different types of situations:

- Permission denied
- Permission permanently denied
- App settings screen

[2017-04-26 02:03] mrzhqiang commented on #102
@samtstern  Debug mode, using the sample also is the crash. Run mode, Everything is all right.
Not find useful stack trace.

[2017-04-26 12:09] ghuiii commented on #107
@samtstern  you're right, thanks.

[2017-04-26 14:50] samtstern commented on #107
@ghuiii I assume that means I can close this issue, but please let me know if you need it re-opened.

[2017-04-26 14:50] #107 closed

[2017-04-26 15:05] samtstern commented on #102
@mrzhqiang alright well with the amount of information we have, I really can't investigate this.  If you find a stack trace or some more detailed reproduction steps I will be happy to re-open this issue and dig further. Thanks for reporting it!

[2017-04-26 15:05] #102 closed

[2017-04-27 01:41] ghuiii commented on #107
@samtstern yes

[2017-05-12 16:00] #97 closed

[2017-05-12 16:00] samtstern commented on #97
This is fixed by #115 and will be included in the next release (date TBD)

[2017-05-13 09:30] BinarySatan opened #116 "onPermissionsGranted AND @AfterPermissionGranted(...)"
[code]
when I allow permission
will output.
gaga
haha

why?

if @AfterPermissionGranted( !PER_REQUEST_OPEN_CONTACTS) just fine

version 0.2.1

[2017-05-13 16:21] SUPERCILEX commented on #116
@BinarySatan that's expected behavior, both methods will be called.

[2017-05-14 01:48] BinarySatan commented on #116
@SUPERCILEX ok, thanks

[2017-05-15 15:00] #116 closed

[2017-05-18 02:55] hyf910605 opened #117 "this module can run on android 6.0 systerm well,but cann't run on android 4.0?"
I just used this module on my project and it can run well on android 6.0 when I refuse the permission and it can show the dialog let me choose again ,this is very well .But when it run on android 4.0 systerm ,it just show the dialog that i just refuse the permission but not let me choose again ,is this a bug ?

[2017-05-18 04:25] samtstern commented on #117
@hyf910605 Android 4.0 does not support runtime permissions so, `EasyPermissions.hasPermissions(...)` should always return `true` on those platforms.  You should always call this before calling `requestPermissions` or any related function.

[2017-05-18 04:25] #117 closed

[2017-05-18 09:31] halfcupCn opened #118 "Permission Request Dialog NOT Shown"
I follow the sample ask for `Manifest.permission.READ_SMS` permission with
[code]
but this code didn't work in my phone Red MI Note 4 os 6.0 MIUI 7.5.11 & crashed in MI 3 os 6.0.1 CyanogenMod 13.0.
the crash stacktrace is
[code]
with debug,i found it called `Activity#requestPermission`,but NO Permission Request Dialog shown,are there something wrong with my code or just bug?

[2017-05-23 16:56] samtstern commented on #118
@halfcupCn what happened on the Redmi Note phone?  The crash on CyanogenMod does not seem like something we can prevent, custom ROMs often interfere with permission logic.

[2017-05-28 16:17] Takha25 opened #120 "WRITE_CONTACTS always denied on emulator/Samsung GS7"
[code]
I want to insert a new contact but permission to write contact is always denied whereas read contacts works as supposed. The permission is denied even if I use "Ask for one permission" method. Another issue is R.string.requestwriteperm is never shown.

[2017-05-30 14:58] samtstern commented on #120
@Takha25 I would suggest asking this question on StackOverflow, you have not provided enough information here to do any debugging and it sounds like this may be device-specific.  EasyPermissions uses the same behavior for each permission,

[2017-06-02 06:24] Uttermost opened #121 "Error:(43, 13) Failed to resolve: pub.devrel:easypermissions:0.4.0"
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations'
    })
    compile 'com.android.support:appcompat-v7:25.3.1'
    compile 'com.android.support:design:25.3.1'
    compile 'eu.inmite.android.lib:android-validation-komensky:0

[2017-06-02 07:47] socialvanana commented on #118
Did you put a line in the Manifest file?
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

[2017-06-02 16:48] SUPERCILEX opened #122 "Release new version of EP"
@samtstern The [leak](https://github.com/googlesamples/easypermissions/commit/871b66d80eff489ce19e083986a632d03b9e6209) was fixed since `0.4` and it would be nice to have a new version of EP released. 😄

[2017-06-02 18:38] samtstern commented on #121
Do you have `jcenter()` in your repositories?

[code]

[2017-06-03 05:32] Uttermost commented on #121
Yes...,

[2017-06-03 05:33] Uttermost commented on #121
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.2.2'
        classpath 'com.google.gms:google-services:3.0.0'

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle files
    }
}

allprojects {
    repositories {
        jcenter()

    }
}

[2017-06-05 17:57] pushbit opened #123 "Include javadoc jar in releases"
I was trying to view the Javadoc online at https://javadoc.io/doc/pub.devrel/easypermissions/, but it fails due to missing javadoc.jar.

[2017-06-05 18:14] samtstern commented on #123
@pushbit thanks for noticing this, would be a good imprivement.

[2017-06-06 09:44] Allyns commented on #36
I have also encountered this problem

[2017-06-06 15:06] samtstern commented on #36
Make sure the method you annotate with `AfterPermissionGranted` is a `void` method with no parameters.

[2017-06-06 15:19] samtstern commented on #121
Sorry @Uttermost there's not enough information here to debug and I expect there's something wrong with your individual system configuration.  Could you post this on StackOverflow instead?

[2017-06-06 15:19] #121 closed

[2017-06-06 15:19] samtstern commented on #120
Closing due to lack of activity.

[2017-06-06 15:19] #120 closed

[2017-06-06 18:07] socialvanana opened #124 "No callback from OK button on rationale dialog"
When user click ok button on rationale dialog, then permission request dialog should pops up.

0.2.1 works fine.

I tested 0.3.1 and 0.4.0(latest).
Both of these are not work.

[2017-06-06 18:13] SUPERCILEX commented on #124
@socialvanana can't repro, could you share some code?

[2017-06-06 18:22] socialvanana commented on #124
This is my code.

`public class ActSplash extends Activity implements EasyPermissions.PermissionCallbacks {
@Override
 protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        test();
    }
    @AfterPermissionGranted(Constant.PERMISSION_WRITE_EXTERNAL_STORAGE)
    private void test() {
        String[] perms = {Manifest.permission.WRITE_EXTERNAL_STO

[2017-06-06 19:21] samtstern commented on #124
@socialvanana does it make a difference if you use an AppCompatActivity instead?

[2017-06-07 09:39] socialvanana commented on #124
I just don't want to use an AppCompatActivity till I get problem with an Activity.
and my minSdkVersion is 19. I guess I don't need an AppCompatActivity.

[2017-06-07 14:45] samtstern commented on #124
@socialvanana I understand, I just want to help debug so I can find out where the issue is.  If you **temporarily** use an AppCompatActivity does EasyPermissions work?

[2017-06-07 14:50] socialvanana commented on #124
I changed 2 things.
0.2.1 to 0.4.0 and Activity to AppCompatActivity.

Yes it works.

[2017-06-07 14:52] samtstern commented on #124
@socialvanana thank you! Looks like we have a bug in dealing with plain `Activity` classes then.

[2017-06-07 14:54] socialvanana commented on #124
Thank you so much for your effort. This library is super great!

[2017-06-09 01:39] Allyns commented on #36
This question has been resolved, thank you

[2017-06-09 06:31] 921668753 opened #125 "在Samsung SM-N9200 Android 6.0.1 api23会崩溃"
EasyPermissions.requestPermissions(this, getString(R.string.rationale_camera), RC_CAMERA_PERM, Manifest.permission.CAMERA);
时候会崩溃

[2017-06-09 15:11] samtstern commented on #125
@921668753 I'm sorry but I have to close this issue since it doesn't contain any debugging information in English.  Maybe try StackOverflow?

[2017-06-09 15:11] #125 closed

[2017-06-10 21:12] nAkhmedov opened #126 "onPermissionsDenied method is not calling"
When i deny all permissions with checking "Never ask option", i couldn't do anything then. What do you advice? Thanks in advance

[2017-06-12 18:37] Heri88 commented on #126
Did you find a solution to this?

[2017-06-13 05:13] nAkhmedov commented on #126
I am using compile 'pub.devrel:easypermissions:0.4.0' version. Firstly, When i allow permission 'onRequestPermissionsResult' is calling but 'onPermissionsGranted' not. Secondly, i deny the permission with checked 'Never ask' option, then nothing i can do. The only option is that allow permission via App-> Settings

[2017-06-13 14:55] samtstern commented on #126
@nAkhmedov if you deny the permission with "Never ask again" then that's the correct behavior, the user would have to grant the permission by going to app settings.

That's why we have `AppSettingsDialog` which you can learn more about in the "Required Permissions" section of the README:
https://github.com/googlesamples/easypermissions#required-permissions

[2017-06-13 14:55] #126 closed

[2017-06-13 20:33] #124 closed

[2017-06-13 20:34] samtstern commented on #124
This will be fixed in `0.4.1` which I am releasing momentarily.

[2017-06-13 20:35] samtstern commented on #122
Released `0.4.1`.

[2017-06-13 20:35] #122 closed

[2017-06-13 20:36] SUPERCILEX commented on #122
@samtstern Awesome! 👍

[2017-06-14 09:56] snodnipper opened #128 "Java 1.8"
It would good to document the language level for EasyPermissions.

I note, for instance, that changing `compile 'pub.devrel:easypermissions:0.4.0'` to `compile 'pub.devrel:easypermissions:0.4.1'` results in a version 52 byte code error in one of my projects.

![error](https://user-images.githubusercontent.com/576719/27126575-d390bae4-50ef-11e7-92ea-4dc887963f6e.png)

[2017-06-14 14:41] samtstern commented on #128
@snodnipper thanks for reporting, can you describe what changes you had to make in your project to fix this?  This is the first release with `1.8` compatibility and if it was a real pain for you I may revert back to `1.7` to save the developer experience for library consumers.

[2017-06-14 15:07] samtstern commented on #128
@snodnipper I just reverted back to 1.7 and released version `0.4.2` of the library, thanks for flagging this.

[2017-06-14 15:07] #128 closed

[2017-06-14 20:10] loki666 opened #129 "v0.4.1 doesnt compile with Java 1.8"
I'm using retrolambda in my project but I do have targetCompatibility and sourceCompatibility to 1.7

[code]

[2017-06-14 20:12] samtstern commented on #129
@loki666 yep `0.4.1` was a mistake, released `0.4.2` this morning which moves back down to `1.7` and should fix everything.  Give it a try!

[2017-06-14 20:12] #129 closed

[2017-06-15 20:41] TheKalpit opened #130 "Dialog/View appears for fraction of a second when permission is denied with "never ask again""
Hi,

This is my indented implementation:
1. If permission is granted, do stuff.
2. If not, ask for permission.
3. If denied with "never ask again" checked, do nothing.

Now, first two cases are fine, but in third case, it's showing a subtle white screen (probably of the Dialog) for fraction of a second.

Here's the code:

    @AfterPermissionGranted(PERMISSION_GPS)
    private void requiredGpsPerm

[2017-06-16 16:14] samtstern commented on #130
@TheKalpit can you reproduce this with the sample app included in this repository?  I can't seem to make it happen.

[2017-06-18 22:39] GulajavaMinistudio opened #131 "About Changelog File"
Are there any changelog file or changelog.md that we can see in every release version ?

[2017-06-19 11:21] Luisfermp18 opened #132 "EasyPermissions Always Request Phone Call Permission"
Hi,

My problem is that always I call _requestPermissions(...)_ method, the device show request permission for Phone Call, that is my code:

`EasyPermissions.requestPermissions(this, "Grant Access to Device State", REQUEST_STATE_PHONE_READ, Manifest.permission.READ_PHONE_STATE);`

Thank you.

[2017-06-19 15:25] samtstern commented on #132
@Luisfermp18 can you explain what is not working?  If you are requesting `READ_PHONE_STATE` you are requesting the Phone permission group.

[2017-06-19 15:49] samtstern commented on #131
@GulajavaMinistudio sorry I have not been maintaining a changelog, although I really should going forward.  Is there any specific version you're curious about?

[2017-06-19 20:06] rezaiyan opened #133 "after denied permission i get this error(In Fragment)"
`

 FATAL EXCEPTION: main

 Process: co.iliasystem.akbarjoojeh, PID: 7204
 java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
     at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1842)
     at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1860)
     at android.support.v4.app.BackStackRecord.commit

[2017-06-19 20:53] samtstern commented on #133
@rezaiyan what version of the library are you using?

[2017-06-21 19:38] madhanmallow commented on #133
The issue also happens to me. I used the version compile 'pub.devrel:easypermissions:0.4.0'

[2017-06-22 09:37] GulajavaMinistudio commented on #131
Maybe changelog since 0.4.0 and newer version. Since we dont know what's is breaking changes between these versions

[2017-06-22 16:33] samtstern commented on #131
@GulajavaMinistudio FYI there have not been any breaking changes in a while, just bugfixes.

[2017-06-23 09:47] SpringSmell opened #134 "兼容问题，魅族note 5无法请求权限"
无法弹出请求权限框，不停回调onPermissionsGranted方法，但是权限并未请求。

[2017-06-23 15:26] samtstern commented on #134
@SpringSmell sorry but I can only support issues in English, it's the only language I speak.  If you also speak english (or know someone who can help with that) please file a new issue and I'll be happy to help you.

[2017-06-23 15:26] #134 closed

[2017-06-23 15:26] samtstern commented on #118
This issue has been inactive for a while, I am going to close it.  If you still need help just respond and I will re-open it.

[2017-06-23 15:26] #118 closed

[2017-06-25 07:52] Zc0716 opened #135 "android7.0 after denied permission and try again find this error"
`java.lang.RuntimeException: Unable to start activity java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity`

[2017-06-25 13:58] #135 closed

[2017-07-05 08:03] coolspan opened #136 "出现一个空指针，不知如何复现这个问题"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.xxx/pub.devrel.easypermissions.AppSettingsDialogHolderActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void pub.devrel.easypermissions.AppSettingsDialog.a(android.content.Context)' on a null object reference
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.ja

[2017-07-05 15:00] samtstern commented on #136
@coolspan can you show some code that leads to this issue?  And give some more information about your environment, mostly what device / Android version you're running.

Also please note I can only support issues written entirely in English, it's my only language.

[2017-07-10 12:56] loki666 opened #137 "@AfterPermissionGranted should also be annotated with @Keep"
if using proguard optimization, a @AfterPermissionGranted method could be completly inlined preventing EasyPermissions.onRequestPermissionsResult to find it.

    private static final int REQUEST_PERMISSION = 10;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        navigateToPlayer();
    }

    @Keep
    @AfterPermissionGrante

[2017-07-10 15:04] samtstern commented on #137
@loki666 should this be enforced by adding consumer proguard rules to the library?

[2017-07-10 15:05] loki666 commented on #137
ideally yes

[2017-07-11 07:52] YouriZhang opened #138 "Crash when request mutil permissions"
When I test request Manifest.permission.CAMERA, Manifest.permission.WRITE_EXTERNAL_STORAGE, Manifest.permission.READ_EXTERNAL_STORAGE;
after all permission denied,activity crashed.

[2017-07-11 08:15] isqing opened #139 "打电话权限"
app在权限列表里并没有打电话的权限，这个权限是禁止的，但是为什么hasPermissions检查时一直说有这个权限，打电话时报 this app not allowed to StartActivity:Intent { act=android.intent.action.CALL dat=tel:xxxxxxxxxxx }的问题，如果把权限改成调摄像头就是对的

[2017-07-11 15:27] samtstern commented on #138
@YouriZhang can you provide some logs from the crash?

[2017-07-11 15:27] samtstern commented on #139
@isqing sorry we can only accept issues in English, it's the only language I speak!

[2017-07-11 15:27] #139 closed

[2017-07-12 07:15] YouriZhang commented on #138
Thank you for your prompt reply，but unfortunately I can't catch any error logs when crashed. This just occoured when apk first installed and all requested permissions were refused. I can provide the mobile brand which occoured in XiaoMi Note 4.

[2017-07-12 15:15] samtstern commented on #138
@YouriZhang hmmm there's not much I can do without an error log or some code that reproduces this.  I am going to close the issue for now but please let me know if you see the issue again,

[2017-07-12 15:15] #138 closed

[2017-07-14 02:39] CodingCodersCode opened #140 "where is the rationale message?"
This is my java code:
![image](https://user-images.githubusercontent.com/18276107/28195949-07166aba-6880-11e7-8057-dccc296dc554.png)

![image](https://user-images.githubusercontent.com/18276107/28196014-872c01b0-6880-11e7-9b53-08f56b79b4b4.png)

and this is the dialog:

![image](https://user-images.githubusercontent.com/18276107/28196031-9eb9fe22-6880-11e7-90e2-58afb459f0d0.png)

What‘s wrong?

[2017-07-14 02:47] #140 closed

[2017-07-14 07:39] qq2748 opened #141 "how to request a permission in application?"
such as some sdk need to init in application like push.

[2017-07-14 16:05] samtstern commented on #141
@qq2748 please see the `README` for this type of information.  If you have a specific issue involving code you've already written you can post a new issue, otherwise I'd recommend StackOverflow.

[2017-07-14 16:05] #141 closed

[2017-07-20 12:09] loki666 commented on #137
this proguard rule seems to do the trick

-keepclasseswithmembers class * {
    @pub.devrel.easypermissions.AfterPermissionGranted <methods>;
}

[2017-07-20 15:05] samtstern commented on #137
@loki666 does it work the same if you use `keepclassmembers` instead of `keepclasseswithmembers`?

[2017-07-24 03:00] andrewlcgu opened #142 "why use android.support.v7.app.AlertDialog in RationaleDialogConfig"
If I use Activity not AppCompatActivity, could result the error:
<img width="772" alt="rtx20170724-105944 2x" src="https://user-images.githubusercontent.com/5044141/28506625-3e31fae6-705f-11e7-9a73-caa23b6d4722.png">

[2017-07-25 14:45] loki666 commented on #137
probably yes (not tried)

[2017-07-27 13:50] loki666 commented on #137
tested ok

[2017-07-27 16:10] samtstern commented on #136
Closing due to lack of response.

[2017-07-27 16:10] #136 closed

[2017-07-27 16:11] samtstern commented on #132
Closing issue due to lack of response.

[2017-07-27 16:11] #132 closed

[2017-07-27 17:17] #123 closed

[2017-07-27 17:17] #137 closed

[2017-07-27 17:21] samtstern commented on #137
This is fixed in version `0.4.3` which was just released.

[2017-07-27 17:21] samtstern commented on #123
This is fixed in version `0.4.3` which was just released.

[2017-07-28 07:10] XuHX commented on #90
假设成功

[2017-08-03 02:14] zhuyonghao opened #144 "targetSdkVersion Must be greater than 23"

[2017-08-03 02:35] samtstern commented on #144
Can you explain the issue you're having?  If you're targeting SDK lower
than 23 you don't need to worry about runtime permissions.

On Wed, Aug 2, 2017, 7:14 PM zhuyonghao <notifications@github.com> wrote:

[2017-08-03 12:05] Leonid-Kiev opened #145 "Having a warning in @AfterPermissionGranted()"
I am having a warning when trying to access LocationServices  with granted permissions:

[code]

Thus, IDE offers to add annotation @SuppressLint("MissingPermission")
or handle security exception.

What is wrong?

[2017-08-03 15:47] samtstern commented on #145
@Leonid-Kiev nothing is wrong!  The linter that gives you that warning is just not very sophisticated.  It can only detect a standard permission check (not using EasyPermissions) and the check has to be surrounding the location call.

Suppressing the lint is, unfortunately, the best thing you can do here.

[2017-08-03 15:47] #145 closed

[2017-08-03 16:15] #144 closed

[2017-08-08 06:59] berviantoleo opened #147 "License (Copyright) Owner and Year Information"
In [license file](https://github.com/googlesamples/easypermissions/blob/master/LICENSE) the year information and copyright owner not changed. This information should change or replaced to accept the license of Apache 2.0. Who will be copyright owner? I will update the license file and add license section to readme. The year, I will take a first time this repo build.

[2017-08-08 09:06] berviantoleo commented on #130
@TheKalpit are you still have this issue? If yes, please attach your full code.

Anyway, I have a problem too when calling method with "AfterPermissionGranted" and implements "onPermissionDenied" with doing "Never ask again". That will raise looping call method with AfterPermissionGranted.

[2017-08-08 15:03] samtstern commented on #130
@berviantoleo you should check for "never ask again" only in "onPermissionDenied".

@TheKalpit I am closing this issue since there has not been a response in a few weeks.

[2017-08-08 15:03] #130 closed

[2017-08-08 15:04] samtstern commented on #147
@berviantoleo that's a good catch!  It should be Google and 2017, do you want to send a pull request?

[2017-08-08 15:52] berviantoleo commented on #147
Yes, I will.

[2017-08-08 17:39] #147 closed

[2017-08-10 06:03] rantianhua opened #149 "A little confuse with @AfterPermissionGranted"
I have a little confuse to understand `AfterPermissionGranted` annotation. In Readme file, there is a description for it

So I can believe that the specified permissions have been granted in this annotation, and there is no need to check permissions again. However, it's not the truth in your sample code for `@AfterPermissionGranted`:
[code]
In the end, my question is that why needs to check having

[2017-08-10 06:08] rantianhua commented on #149
@samtstern Sorry to trouble you for your time, but I am really a little hurry!

[2017-08-10 11:30] rantianhua commented on #149
After read the code, I have understood!

[2017-08-10 11:30] #149 closed

[2017-08-10 16:03] samtstern commented on #149
@rantianhua glad you figured it out!

[2017-08-16 10:35] jnam90 opened #150 "Can not perform this action after onSaveInstanceState"
Using version 0.4.3. I am sometimes seeing this crash in production:

Fatal Exception: java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
       at android.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1433)
       at android.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1451)
       at android.app.BackStackRecord.commitInternal(BackSt

[2017-08-16 13:05] MohamedISoliman opened #151 "onPermissionsGranted isn't been called"
in camera activity this callback is not been called, this is my code for requesting the camera permission
[code]
and the activity is extending  AppCompatActivity

[2017-08-16 15:26] SUPERCILEX commented on #150
@jnam90 that means you are trying to request the permission after the activity is no longer visible. My guess is that you have the permission request is an async callback?

[2017-08-16 16:17] SUPERCILEX commented on #151
Are you listening for the callback?
https://github.com/googlesamples/easypermissions/blob/master/easypermissions/src/main/java/pub/devrel/easypermissions/EasyPermissions.java#L187-L205

[2017-08-16 16:22] MohamedISoliman commented on #151
no I'm only implmented EasyPermissions.PermissionCallbacks in my activity.
[code]

[2017-08-16 16:36] SUPERCILEX commented on #151
@MohamedISoliman well have a look at the documentation I posted above, you need to override `onRequestPermissionsResult` and forward that along to EasyPermissions. 😀

[2017-08-16 16:40] MohamedISoliman commented on #151
aha my bad then thanks 👍

[2017-08-16 16:40] #151 closed

[2017-08-16 16:41] SUPERCILEX commented on #151
No prob!

[2017-08-18 22:32] SUPERCILEX commented on #133
@madhanmallow See https://github.com/googlesamples/easypermissions/issues/150#issuecomment-322808647, it looks like it could be the same issue. It could also be that you're [not calling `super.onActivityResult(...)`](https://stackoverflow.com/a/30429551/4548500) in your activity. Though looking at your stack trace, I don't understand how it relates to the code you posted. It looks like you're tryi

[2017-08-18 22:34] SUPERCILEX commented on #150
@jnam90 Just another thought, are you [calling `super.onActivityResult()`](https://stackoverflow.com/a/30429551/4548500) in your activity?

[2017-08-18 23:54] SUPERCILEX opened #154 "Version 1.0?"
Hey @samtstern,
EasyPermissions has been around for awhile and seems about as stable as it'll ever be, what do you think of removing the deprecated apis and releasing a 1.0.0 version?

[2017-08-21 18:40] samtstern commented on #154
@SUPERCILEX I think this is probably a good idea.

[2017-08-22 15:09] samtstern commented on #131
We have started doing releases:
https://github.com/googlesamples/easypermissions/releases

And we'll continue this going forward.

[2017-08-22 15:09] #131 closed

[2017-08-22 15:10] samtstern commented on #133
Since it's been a long time since the last response by @madhanmallow (my fault for not getting back after the Jun 21 comment) and this is likely a duplicate, let's call this a duplicate of #150 and move discussion over there.

[2017-08-22 15:10] #133 closed

[2017-08-22 16:11] samtstern commented on #142
This was fixed in #153 and will be included in the next release.

[2017-08-25 02:11] jnam90 commented on #150
@SUPERCILEX  Sorry I saw last comment too late.

[2017-08-28 12:47] xanscale opened #155 "Android Studio 2.3.3 show SecurityException error when using easypermissions"
All works perfectly but Android Studio show me this error on setMyLocationEnabled

Call requires permission which may be rejected by user: code should explicitly check to see if permission is available (with `checkPermission`) or explicitly handle a potential `SecurityException`

[code]

[2017-08-28 15:10] samtstern commented on #155
@xanscale unfortunately there's nothing we can do about this, you have to add the comment/annotation to ignore the linter.  Android Studio's permissions linter only looks for calls to the system permissions API and does not know about `EasyPermissions`.

[2017-08-28 15:10] #155 closed

[2017-08-28 15:26] xanscale commented on #155
@samtstern yes you are right but inside EasyPermissions you call system permissions API. android lint doesn't analyze code in depth.

same problem exists if use system permissions API in 2 level depth.

Is there a way to report it?

PS the correct annotation is: @SuppressWarnings({"MissingPermission"})

[2017-08-28 17:21] samtstern commented on #155
@xanscale you could try reporting it here: https://developer.android.com/studio/report-bugs.html

[2017-08-30 21:40] #154 closed

[2017-08-30 21:40] samtstern commented on #142
Released in version `1.0.0`

[2017-08-30 21:40] #142 closed

[2017-08-30 23:42] SUPERCILEX commented on #154
@samtstern We should probably add a GitHub release to be consistant with https://github.com/googlesamples/easypermissions/issues/131#issuecomment-324056774. Maybe something like:
[code]

And here's the prettily rendered version
-

EasyPermissions `v1.0` is the most stable release ever! It contains mostly bugfixes and API improvements that may result in breaking changes.

# Table of Contents

- [Up

[2017-08-30 23:53] samtstern commented on #154
Oh yeah you're right, I actually have a release draft but I forgot to publish it!

[2017-08-30 23:55] SUPERCILEX commented on #154
Lol, glad to see the release! 😄

[2017-08-30 23:57] samtstern commented on #154
Changed the release to include most of your wording, thanks for that.

[2017-08-31 00:01] SUPERCILEX commented on #154
Awesome!

Small bug I just noticed: it looks like the commit you're targeting for that release isn't the latest (old 32ab68f instead of new 25302f5). LGTM otherwise! 😄

[2017-08-31 18:23] Daltron opened #158 "READ_EXTERNAL_STORAGE permission permanently denied even though it hasn't been asked before?"
Even after I delete the app and reinstall, the else statement is always called. Why is this permission always being detected as denied when it has never been asked for? Any help would be appreciated! 😄

[code]

I am also including this in my manifest
[code]

[2017-08-31 18:29] samtstern commented on #158
@Daltron I understand how this can be confusing, but this is the expected behavior.  Take a look at the implementation of `permissionPermanentlyDenied`:

https://github.com/googlesamples/easypermissions/blob/25302f5672a851444d74909ac7472db3dffae860/easypermissions/src/main/java/pub/devrel/easypermissions/helper/PermissionHelper.java#L95

So basically `"should not show rationale" == "permission per

[2017-08-31 18:29] #158 closed

[2017-08-31 18:34] Daltron commented on #158
@samtstern Thanks for the quick and detailed response. That is very confusing for somebody who doesn't dig into the source code. It would be great if there was a way to do what I thought it did before requesting the permission. iOS's permission system has a huge step up on Android's in my opinion.

Anyways, thanks! 👍

[2017-09-01 06:20] fly263 opened #159 "Fragments request permissions, callback of the activity is triggered"
Run the sample,click 'SMS' button,why activity‘s onPermissionsGranted called?Is this right?
this is log：
09-01 14:15:55.371 7396-7396/pub.devrel.easypermissions.sample D/MainFragment: onPermissionsGranted:122:1
09-01 14:15:55.371 7396-7396/pub.devrel.easypermissions.sample D/MainActivity: onPermissionsGranted:65658:1

Android API:24

[2017-09-08 02:37] cheyiliu opened #160 "I got this compile error"
Error:(3610) Error retrieving parent for item: No resource found that matches the given name 'Theme.AppCompat.DayNight.DarkActionBar'.

[2017-09-08 02:41] SUPERCILEX commented on #160
@cheyiliu Oh shoot, that would be my fault. As a workaround, you can add this dependency:
https://github.com/googlesamples/easypermissions/blob/25302f5672a851444d74909ac7472db3dffae860/easypermissions/build.gradle#L23

@samtstern Should we make AppCompat an `api` dependency or force devs to add it manually?

[2017-09-08 07:37] cheyiliu commented on #160
@SUPERCILEX thanks

[2017-09-08 16:08] samtstern commented on #160
@SUPERCILEX we shouldn't force anyone to add it manually, so we should probably change it back to an `api` dependency.

[2017-09-08 18:57] SUPERCILEX commented on #160
@samtstern oh well, see #161

[2017-09-08 20:27] samtstern commented on #160
@cheyiliu this will be in version 1.0.1 but you can fix it for now by adding a dependency on your app on `appcompat-v7`.

[2017-09-12 10:16] EricMo opened #162 "AppSettingsDialog.Builder can't set clicklistener"
So,AppSettingsDialog.Builder can't set a clicklistener.
Sometimes i want do something when user cancel the AppSettingsDialog,but i can't do this with AppSettingsDialog.

[2017-09-12 19:25] SUPERCILEX commented on #162
@EricMo have a look at the documentation:
https://github.com/googlesamples/easypermissions/blob/d1fc87759057dccc1be26e3c314e4f6b28758e1e/easypermissions/src/main/java/pub/devrel/easypermissions/AppSettingsDialog.java#L257 -L264

[2017-09-13 02:14] EricMo commented on #162
@SUPERCILEX
Thx，I find a way to do this.The  documentation:
` @Override
    public void onClick(DialogInterface dialog, int which) {
        if (which == Dialog.BUTTON_POSITIVE) {
            startActivityForResult(
                    new Intent(Settings.ACTION_APPLICATION_DETAILS_SETTINGS)
                            .setData(Uri.fromParts("package", getPackageName(), null)),

[2017-09-13 02:21] SUPERCILEX commented on #162
@EricMo Your code should be similar to what I attached but with features. You'll want to do whatever you need to do if you have the permission, otherwise do nothing since the user knows they didn't enable the permission.
https://github.com/googlesamples/easypermissions/blob/d1fc87759057dccc1be26e3c314e4f6b28758e1e/app/src/main/java/pub/devrel/easypermissions/sample/MainActivity.java#L132-L150

[2017-09-13 02:31] EricMo commented on #162
@SUPERCILEX Yes,i understand what you say.Your code will be more friendly to user.Thx

[2017-09-13 02:42] #162 closed

[2017-09-18 11:57] Martin-Hogge opened #163 "NoClassDefFoundError: android.view.DragAndDropPermissions"
When asking the user to accept the storage permission, it crashes with the following stacktrace:

[code]

I'm using 1.0.0 version of the library and this crash happens on 6.0.1 android devices.
I don't get what is wrong here.

[2017-09-18 15:39] samtstern commented on #163
Thanks for the report @Martin-Hogge.  Is your app proguarded?  If so, does this issue also happen on debug builds?

[2017-09-20 06:32] jdermont opened #164 "Rationale cancel callback"
Sorry if this was already covered, but I couldn't find it anywhere.

[code]

Before the actual permissions asking I get dialog with rationale and OK and Cancel buttons. When OK is clicked - it goes to permission asking. If cancel is clicked, dialog dismisses but I can't find any way to set listener for that.

[2017-09-20 19:33] stasbar opened #165 "How to skip rationale dialog OK/Cancel while requesting permission"
Hello,
How to skip rationale OK/Cancel dialog while requesting permission ?
In my opinion it's quite redundant to ask twice if user want to grand storage permissions, especially when it's in self-described context.
In other words, is it possible to **EasyPermissions.requestPermissions()** acts like normal **requestPermissions()** but calls **@AfterPermissionGranted** afterwards

[2017-09-20 19:38] stasbar commented on #165
Nevermind. Standard **requestPermissions()** calls **@afterpermissiongranted** afterwards by default 😄

[2017-09-20 19:38] #165 closed

[2017-09-20 20:10] samtstern commented on #164
@jdermont if the user cancels the rationale dialog you should get a regular permission denied callback.

[2017-09-21 06:02] jdermont commented on #164
@samtstern ok, needed also to make Activity implement EasyPermissions.PermissionCallbacks

[2017-09-21 06:02] #164 closed

[2017-09-21 17:42] hoelee commented on #136
I have similar to this null pointer issue, I solved myself...
Found out actually I override my manifests, please take note "replace" keyword below is override everything, therefore this plugin can't find the declare activity of "pub.devrel.easypermissions.AppSettingsDialogHolderActivity".

<application
        tools:node="replace"
        xxx>
    <activity xxx></activity>
</application>

If you w

[2017-09-21 17:44] hoelee commented on #136
I have similar to this null pointer issue, I solved myself...
Found out actually I override my manifests, please take note "replace" keyword below is override everything, therefore this plugin can't find the declare activity of "pub.devrel.easypermissions.AppSettingsDialogHolderActivity".

[code]

If you want override something, be specific like below just override label:
[code]

[2017-09-25 13:28] bangbing opened #168 "Must be use v7:26???"
I want use v7:23,but it wa wrong

[2017-09-25 14:14] bangbing commented on #160
waiting for 1.0.1  ^^@samtstern

[2017-09-25 14:50] samtstern commented on #168
@bangbing there's not enough information here about the problem you're having to help you.  If you can give more information (like an error message or stack trace) I will re-open this issue.

[2017-09-25 14:50] #168 closed

[2017-09-26 03:19] leohan1992 opened #169 "Can we use this lib on a method that has param?"
I've tried this
[code]
 it will request permission,but didn't excute this method again when permission granted.Can I use @AfterPermissionGranter on a method that with param?

[2017-09-26 04:38] SUPERCILEX commented on #169
@leohan1992 Nope, unfortunately not. We would have no idea what value to pass in for that parameter. You can work around this be keeping an instance of the url in your Activity/Fragment and then saving it in `onSaveInstanceState`.

[2017-09-26 04:59] leohan1992 commented on #169
thanks，and will be support in future?

[2017-09-26 05:01] SUPERCILEX commented on #169
Nope, it's impossible for us to know what value to pass in.

[2017-09-26 05:03] #169 closed

[2017-09-26 18:26] samtstern commented on #160
Version `1.0.1` has been released.

[2017-09-26 18:26] #160 closed

[2017-10-18 06:32] wcglws opened #171 "Android6.0 after the code read ANR traces.txt file permissions issue"
Hello, through the code to read ANR exception traces.txt file upload server, but will report the permission of the error, the log did not suggest what permissions. Is not Android6.0 after the permission was recovered?

[2017-10-18 15:25] samtstern commented on #171
@wcglws I can't understand what the issue is from your description.  Can you provide some error messages and code that causes the issue?

[2017-10-19 14:23] wcglws commented on #171
Unable to open stack trace file '/data/anr/traces.txt': Permission denied while the permission is granted
 I dont know whats wrong with my code below. Can anyone tell me what i need to do.
code:
![code](https://user-images.githubusercontent.com/16982083/31775446-3f535ffe-b51b-11e7-8a73-53d5ee29fca0.jpg)

error:

![error](https://user-images.githubusercontent.com/16982083/31775465-474a2396-b51b-11e

[2017-10-19 16:31] samtstern commented on #171
@wcglws there's no indication that this is an Easypermissions library issue.  Instead this sounds like something that is a problem in your app code.  Please post this question to StackOverflow.

[2017-10-19 16:31] #171 closed

[2017-11-02 13:54] Martin-Hogge commented on #163
Sorry I missed you're comment. yes my app is proguarded but it happens on both builds: release and debug.

[2017-11-02 13:57] Martin-Hogge commented on #163
On another device I got almost the same issue but with PictureInPicture class not found:

[code]

[2017-11-13 02:30] Allyns opened #172 "huawei p10 .... error"
Huawei p10 and other models using this library is invalid, unable to pop-up permission application prompt box, the author can test. I also want to know what caused this

[2017-11-13 16:27] samtstern commented on #172
@Allyns thanks for filing this issue, but we need more information.

What errors do you get?  What code causes the error?  Anything interesting in the logs?

[2017-11-22 09:35] LukeMi opened #173 "MIUI no camera permission but return EasyPermissions.hasPermissions(this, Manifest.permission.CAMERA); return true"
as the title,can help this ?thanks!

[2017-11-23 10:33] rramprasad opened #174 "Allow customization of rationale dialog theme"
Rationale message dialog shows text and buttons as white color.Actually my app needs colorAccent should be white.So not able to set custom theme for rationale dialog.How to fix this issue.

[2017-11-24 01:25] lingdianguole commented on #174
me too,How to fix this issue for you

[2017-11-25 01:35] jrm0695 commented on #174
how to even disable the rationale message ? i need to make my own behavior when the user deny a permission without having to deal with this dialog

[2017-11-25 14:38] rramprasad commented on #174
For workaround,I have changed my colorAccent for the particular Activity by setting separate theme.But we need to make the rationale message as optional and theme customization

[2017-11-27 08:25] zhuzhushang opened #175 "可以弄一个jar或者liarbry吗？"
可以弄一个jar或者liarbry吗？方便eclipse调用的。

[2017-11-27 10:08] guo519300884 opened #176 "Proguard ???????"

[2017-11-27 13:56] samtstern commented on #173
@LukeMi this would happen if the device is running on API < 23 or if there have been OS modifications.  Can you demonstrate that you get a different result using the Android system permissions API?

[2017-11-27 14:00] samtstern commented on #176
@guo519300884 there is not enough information here to help you, please file a new issue with some more information:

- What happened?
- What did you expect to happen?
- What code produces the problem?  Logs?

[2017-11-27 14:01] #176 closed

[2017-11-27 14:03] samtstern commented on #174
As @rramprasad this color comes from `colorAccent`.

[2017-11-27 14:03] samtstern commented on #172
Closing this issue due to lack of response in 2 weeks.

[2017-11-27 14:03] #172 closed

[2017-11-27 14:04] samtstern commented on #163
@Martin-Hogge I apologize for the lack of response but I don't think this has anything to do with EasyPermissions since the failures are in a framework class `android.app.PictureInPictureParams` which is completely outside our control.

[2017-11-27 14:04] #163 closed

[2017-11-27 14:13] samtstern commented on #175
@zhuzhushang I apologize but I can only support issues filed in English, please ask this question on StackOverflow or another forum where someone can help you better.

[2017-11-27 14:13] #175 closed

[2017-11-28 07:22] AlphaGao1993 commented on #159
I have the same problem, when I request read storage permission in fragment ,only parent activity's on onRequestPermissionsResult was called.

[2017-12-04 10:41] LukeMi commented on #173
@samtstern  sure , Thanks all the same,bro

[2017-12-06 19:51] samtstern commented on #174
This has been fixed by @SUPERCILEX and is available in version `1.1.0` through the new `PermissionRequest` API.  See the `README` for details.

[2017-12-06 19:53] #174 closed

[2017-12-06 19:55] #173 closed

[2017-12-07 02:13] xinpengfei520 opened #181 "Failed to resolve: pub.devrel:easypermissions:1.1.1"
## Basic Information

Device type: ____xiaomi 5____
OS version: ______7.0__
EasyPermissions version: ______1.1.1__

## Describe the problem

Failed to resolve: pub.devrel:easypermissions:1.1.1

What happened?  What did you expect to happen?

gradle cant't build

## Code and logs

Error:(106, 20) Failed to resolve: pub.devrel:easypermissions:1.1.1 <a href=

[code]

[2017-12-07 02:17] samtstern commented on #181
The latest version is 1.1.0 ... Maybe I made a typo in the docs?  1.1.1
should not exist.

On Wed, Dec 6, 2017, 6:14 PM Vancy <notifications@github.com> wrote:

[2017-12-07 02:36] xinpengfei520 commented on #181
Thank you , I will try it.

[2017-12-07 09:54] fdh19979 commented on #181
you can use 1.1.0 , it work on me

[2017-12-07 10:30] fdh19979 opened #182 "could add an arguments in RequestPermissions"
## Basic Information

Device type: ________
OS version: ___7.0_____
EasyPermissions version: ___1.1.0_____

## Describe the problem

when i use "EasyPermissions.requestPermissions" , if user denied this request before , a dialog will be showed anyway.

Counld add a new arguments for this method to control whether to show this dialog ?

## Code and logs

[code]

[2017-12-07 10:45] meetr-spaceo commented on #181
Failed to resolve :  pub.devrel:easypermissions:1.1.1

[2017-12-07 14:29] petercutting opened #183 "EasyPermissions.requestPermissions() not showing dialog in google sample app"
Device type: _LG G6
OS version: __M
EasyPermissions version: _1.1.0

I am testing the sample app:-
https://developers.google.com/gmail/api/quickstart/android    which uses credentials to access gmail

pressing button "CALL GMAIL API" results in a call to EasyPermissions.requestPermissions() but no dialog appears on the screen

            EasyPermissions.requestPermissions(
                    thi

[2017-12-07 15:07] petercutting commented on #183
I had forgotten to include in manifest:-
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

[2017-12-07 15:49] SUPERCILEX commented on #182
I can't reproduce that issue... On what device is it happening?

[2017-12-07 16:03] #181 closed

[2017-12-07 16:05] samtstern commented on #183
The page you linked to references `compile 'pub.devrel:easypermissions:0.3.0'` but your issue says `1.1.0`.  Did you manually change the version?

[2017-12-07 17:11] petercutting commented on #183
Yes I did change it manually cos I couldn't get it to work (my mistake).
First I found a ref to 1.1.1 on the interwebs . Eventually realised that it
doesn't exist and tried 1.1.0. then found my permissions XML bug. Working
now

Peter Cutting
work    +46 40 105858 (ring this number)
work    +46 705 505806 (SMS)
private +46 708 565056 (maybe)

On 7 Dec 2017 5:06 p.m., "Sam Stern" <notifications@gith

[2017-12-07 17:17] samtstern commented on #183
@petercutting glad it's working for you now!  And I fixed the reference to `1.1.1` to say `1.1.0`, that was my mistake.

[2017-12-07 17:17] #183 closed

[2017-12-09 04:07] ohmygodntt opened #184 "Crash when deny permission"
## Basic Information

Device type: Crash on Emulator and some real devices
OS version: 6.0.0
EasyPermissions version: 1.1.0

## Describe the problem
[code]

Crash when the user denies the permission request.

## logs

[code]

[2017-12-11 16:31] samtstern commented on #184
@ohmygodntt you say you're seeing this on an emulator, could you give me some steps to reproduce the crash?

[2017-12-12 03:16] ohmygodntt commented on #184
@samtstern please check out my repository https://github.com/ohmygodntt/easypermissioncrash
I had define 2 cases in https://github.com/ohmygodntt/easypermissioncrash/blob/master/app/build.gradle

Case 1:
Request Permissions button -> Deny first permission, Allow the second permission
Request Permissions button again -> Deny first permission, Deny the second permission -> Crash (Application is rest

[2017-12-12 03:19] SUPERCILEX commented on #184
@ohmygodntt Use the support library version `27.0.2` and the crash should go away.

[2017-12-12 04:39] ohmygodntt commented on #184
@SUPERCILEX
I changed like your comment bug still crash. App is restarted
**compileSdkVersion 27
targetSdkVersion 27
support libs verion 27.0.2**

[2017-12-13 09:11] Hlancan commented on #184
I have the same problem

[2017-12-13 12:20] xomnot opened #186 "Cannot resolve PermissionRequest"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ____1.0.1____

## Describe the problem

I'm trying to use a PermissionRequest to control the rationale dialog, as mentioned on README:

`EasyPermissions.requestPermissions(
        new PermissionRequest.Builder(this, RC_CAMERA_AND_LOCATION, perms)
                .setRationale(R.string.camera_and_location_rat

[2017-12-13 16:06] samtstern commented on #184
@ohmygodntt thanks for taking the time to make a test case!  I will check it out now.

[2017-12-13 16:15] samtstern commented on #184
@ohmygodntt ok i tried your repo.  To summarize:

**Case 1**
[code]

I was not able to produce any crash here.

**Case 2**
[code]

I was able to produce the crash as you said.

**Case 3**
[code]

I was not able to produce any crash here.

Before each test I did a clean install:
[code]

So my conclusion is that @SUPERCILEX is right, you need to update to support library 27+.  If you can reproduce a

[2017-12-13 16:18] samtstern opened #187 "POM file does not declare dependencies"
The `pom.xml` file for EasyPermissions `1.1.0` looks like this:

[code]

There's no dependencies section!  This means that we're gonna run into bugs like #184 by not properly warning the dependency system about what we need.

[2017-12-13 16:18] samtstern commented on #184
Ohhh wait!  I think there's definitely an issue here:
https://github.com/googlesamples/easypermissions/issues/187

[2017-12-13 16:48] SUPERCILEX commented on #187
Well that's an oopsies! 😀 I believe upgrading [this dependency](https://github.com/googlesamples/easypermissions/blob/fd4d35100509f47388c927230cab8b7ab96cb557/build.gradle#L10) to `2.0` will fix it, but I couldn't find a way to generate a POM file locally.

[2017-12-13 16:49] samtstern commented on #187
I have a fix coming now :+1:

[2017-12-13 17:00] samtstern commented on #186
@xomnot you need to use EasyPermissions version `1.1.0` or higher.

[2017-12-13 17:00] #186 closed

[2017-12-13 17:08] xomnot commented on #186
Ouch! Version numbers were so similar...

[2017-12-13 17:29] #187 closed

[2017-12-13 17:35] samtstern commented on #184
This should be fixed `1.1.1`.  I took "Case 2" and checked the dependency tree against 1.1.0 and 1.1.1-SNAPSHOT;

**Before**
[code]

**After**
[code]

Now the app does not build in Case 2 ... which is at least progress from a runtime crash!

[2017-12-13 17:48] samtstern commented on #184
Ok confirmed:

If you use easypermissions `1.1.1` and `compileSdkVersion 27` you don't get this crash anymore.

[2017-12-13 17:55] #184 closed

[2017-12-15 09:11] alphater commented on #36
@samtstern  Solution to force, actually can not take parameters

[2017-12-19 04:23] gedoor opened #189 "Can not be fixed support version"
All com.android.support libraries must use the exact same version specification (mixing versions can lead to runtime crashes). Found versions 27.0.1, 26.1.0. Examples include com.android.support:animated-vector-drawable:27.0.1 and com.android.support:cardview-v7:26.1.0 less... (Ctrl+F1)
There are some combinations of libraries, or tools and libraries, that are incompatible, or can lead to bugs. On

[2017-12-19 18:02] samtstern commented on #189
@gedoor add the following dependencies to your app:

[code]

[2017-12-19 18:02] #189 closed

[2017-12-26 03:50] guominfang opened #190 "Crash when deny permission #184"
My English is poor, this paper is from youdao translation,I hope you can understand.

## Basic Information

Device type: MI 5
OS version:  7.0
EasyPermissions version: 1.1.1

## Describe the problem

The situation is the same as #184

## Code and logs

![image](https://user-images.githubusercontent.com/24568042/34345335-13b33534-ea29-11e7-8483-ce2fd7f801aa.png)
![image](https://user-images.githubu

[2017-12-26 17:45] umarhussain15 commented on #189
Please add this in the setup instructions as well, because without these dependencies, the layout of the app is disturbed and text in the appbar has not correct style.

[2018-01-01 15:37] saran2020 commented on #159
Even I am facing same issue. Did any one happy to find the reason for the same?

[2018-01-01 15:46] saran2020 commented on #159
For the people who are looking for the solution to this in `onRequestPermissionsResult()` you have to call pass this as receiving, who will be receiving the callbacks.

Like this
`EasyPermissions.onRequestPermissionsResult(requestCode, permissions, grantResults, this);`

[2018-01-02 09:06] danniu1314 opened #191 "EasyPermissions.requestPermissions拒绝后无法再弹出来"
## Basic Information

Device type: __红米NOTE 4X______
OS version: ___MIUI 8 7.5.11_____
EasyPermissions version: __1.1.1_____

## Describe the problem

拒绝权限后，第二次再检测权限无反应，不弹出dialog提示，

## Code and logs

[code]

[2018-01-02 16:05] samtstern commented on #191
@danniu1314 I apologize but I can only help with issues in English.  Please file a new issue or try a different forum that can help in another language!

[2018-01-02 16:05] #191 closed

[2018-01-02 16:08] samtstern commented on #190
@guominfang can you show what the crash is?

[2018-01-02 16:08] samtstern commented on #182
@fdh19979 due to a lack of response for ~4 weeks I am going to close this issue.  If you do have more information please comment and I will re open.

[2018-01-02 16:08] #182 closed

[2018-01-02 16:10] samtstern commented on #159
@saran2020 thanks for following up with your solution!  Due to lack of any other information I will mark this as closed.

[2018-01-02 16:10] #159 closed

[2018-01-04 08:21] rgdzh1 opened #192 "Modify the documentation"
`implementation 'pub.devrel:easypermissions:1.1.1'`
modify
‘compile 'pub.devrel:easypermissions:1.1.1'’

[2018-01-04 15:53] samtstern commented on #192
@rgdzh1 either will work but we encourage the use of `implementation` over `compile` since it is now preferred when using the Android Gradle plugin version 3.0 or higher.

[2018-01-04 15:53] #192 closed

[2018-01-09 02:01] guominfang commented on #190
Just like #184 described it.

[2018-01-09 09:23] mgolebiowski95 opened #193 "Problem with stack rationale dialog"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: 1.0.1

## Describe the problem

What happened?  What did you expect to happen?

When I executed code below code 0 in onStart() every  time show new rationale dialog over previous dialog. If dialog is exist new dialog should'nt show. A good solution would be to add a method that checks whether or not a rationa

[2018-01-09 16:00] samtstern commented on #193
@mgolebiowski95 can you show your `onStart` method?

[2018-01-09 16:01] samtstern commented on #190
@guominfang yes but we consider #184 to be fixed.  Is there something different about your situation?  Have you tried all the solutions in that thread?

[2018-01-10 03:47] guominfang commented on #190
Yes, I did.
easypermissions 1.1.1
compileSdkVersion 27
supportVersion = '27.0.2'
buildToolsVersion = '27.0.2'

##  Request Multitude Permissions
Request Permissions button -> Deny first permission, **Grant the second permission**
Request Permissions button again -> Deny first permission, **Deny the second permission** -> Crash (Application is restarted)

### The reason for the collapse was the rej

[2018-01-10 04:28] SUPERCILEX commented on #190
I don't see why what you're doing wouldn't work, but it's bad UX anyway. You should be asking for the permissions at the same time like so:
[code]

Let us know if that helps! 😄

[2018-01-10 06:13] lby1992 commented on #47
@samtstern I can help you to provide the manual in Chinese

[2018-01-10 06:21] guominfang commented on #190
@SUPERCILEX
## Is it ok if you use it this step?

### Step 1:
Request Permissions button -> Deny first permission, Grant the second permission

### Step 2:
Request Permissions button again -> Deny first permission, Deny the second permission -> Crash (Application is restarted)

[2018-01-10 10:31] mgolebiowski95 commented on #193
![3](https://user-images.githubusercontent.com/35255808/34767974-d3b553c2-f5f9-11e7-9952-395f562da3b4.jpg)

[2018-01-10 13:01] mgolebiowski95 commented on #193
or run this code and change orientation a few times

[2018-01-10 13:04] mgolebiowski95 commented on #193
my requested permisison
![4](https://user-images.githubusercontent.com/35255808/34774316-2790d54c-f60f-11e7-9558-8e0274729a72.png)

[2018-01-10 13:29] mgolebiowski95 commented on #193
You can too add to library method cheching android permission dialog is actually showing. In onCreate() bundle savedInstanceState key="android:hasCurrentPermissionsRequest" which contains this value.

[2018-01-10 13:30] mgolebiowski95 commented on #193
I found quite accidentally :-)

[2018-01-10 13:46] mgolebiowski95 commented on #193
![5](https://user-images.githubusercontent.com/35255808/34775864-f752c286-f614-11e7-8245-6f74ca309928.png)

[2018-01-10 16:19] samtstern commented on #193
@mgolebiowski95 huh that's a cool tip about `android:hasCurrentPermissionsRequest`.  Thanks!

Can you show the crash logs you're getting?  Also is your Activity a descendant of `AppCompatActivity`?

[2018-01-10 16:22] samtstern commented on #47
@lby1992 I really appreciate the offer but I'd have no way to know if the manual was actually correct!  If you do publish a manual in Chinese somewhere else (maybe a blog?) I would be happy to link to it.

[2018-01-10 21:22] samtstern commented on #190
@guominfang is this issue happening in an open-source repo that I could clone and try?

[2018-01-11 02:13] guominfang commented on #190
@samtstern of course， I created demo
[EasypermissionsDemo](https://github.com/guominfang/EasypermissionsDemo)

[2018-01-11 03:28] lby1992 commented on #47
Hi, @samtstern I haven't make a Chinese manual yet, if you wanna provide it for Chinese user, I would be glad to do it.

[2018-01-11 08:02] mgolebiowski95 commented on #193
I hadn't crash. This is my simple test https://github.com/mgolebiowski95/easypermissionstest.

problem: stack rationale dialog

- clear application data -> grand first permission, other deny ->  close appsetting dialog -> rotate phone a few times

- clear application data -> grand first permission, other deny -> rotate phone a few times (rationale dialog stack below appsetting dialog)

[2018-01-11 16:17] samtstern commented on #190
@guominfang thank you for making the demo.  I have tried to reproduce using your demo but it does not crash on my device.  See the video here:
https://drive.google.com/file/d/1zawXJ2tgJ3ejO3MvWEcWFMGs1cM0zDoY/view?usp=sharing

[2018-01-11 16:38] samtstern commented on #193
@mgolebiowski95 thanks for the code, I can confirm that in your situation the dialog does stack.  There are two action items here:

  * This library should make an attempt to not show the rationale dialog if one is already showing.
  * Your app probably should not show the dialog on `onStart`, the Android UX guidelines for permissions
     requests say to show the request in response to a user act

[2018-01-11 17:58] samtstern commented on #193
#195 will fix this issue

[2018-01-12 03:00] guominfang commented on #190
@samtstern Thank you. I know where our differences are.When the permission button is requested again,Your phone will no longer pop up the authorized dialog box.But my phone will still pop up the permission dialog box.
It could be that Chinese handset maker xiaomi has customized the android system.
[Please look at this video : https://github.com/guominfang/EasypermissionsDemo/blob/master/53dc4a975a

[2018-01-12 16:24] samtstern commented on #193
This issue has been fixed and released in version `1.1.2`

[2018-01-12 16:24] #193 closed

[2018-01-15 03:09] guominfang commented on #190
@samtstern Without changing the easypermissions source code, my approach is：
[code]

So, There is no need to limit compileSdkVersion 27 or targetSdkVersion  27 or buildToolsVersion 27.0.1 or support libs verion 27.0.1

[2018-01-17 17:43] samtstern commented on #190
@guominfang does that mean you consider this issue fixed?

[2018-01-19 02:22] guominfang commented on #190
@samtstern Yes, I think so.It would be better if the easypermissions itself could support this adaptation.

[2018-01-24 11:59] Joslyn-Chen opened #197 "Easypermissions in kotlin"
## Basic Information

Device type: Android Emulator
OS version: 8.0
EasyPermissions version: 1.1.2

## Describe the problem

Apply for multiple permissions.
Method EasyPermissions.requestPermissions() last parameter,I use arrayOf not passed.
How to pass this parameter in kotlin?

[2018-01-24 18:06] samtstern commented on #197
@Joslyn-Chen can you show the code you're writing (in Kotlin) so I can better understand the problem>

[2018-01-25 03:44] Joslyn-Chen commented on #197
@samtstern Yes.
`
private val perms = arrayOf(
      Manifest.permission.ACCESS_FINE_LOCATION,
      Manifest.permission.WRITE_EXTERNAL_STORAGE,
      Manifest.permission.CALL_PHONE)

  private fun getPermissions() {
    if (!EasyPermissions.hasPermissions(this, perms)) {
      EasyPermissions.requestPermissions(this, "", 0,
          Manifest.permission.ACCESS_FINE_LOCATION)
    }
    if (!EasyPe

[2018-01-25 04:08] SUPERCILEX commented on #197
@Joslyn-Chen Kotlin has a special syntax for spreading an array into a varargs parameter: `*perms`.

[2018-01-25 05:08] Joslyn-Chen commented on #197
@SUPERCILEX Thank you very much.

[2018-01-25 10:59] b95505017 opened #198 "Fragment can't receive onRequestPermissionsResult after showing RationaleDialog"
If we call `EasyPermissions.requestPermissions` from Fragment and show rational dialog:

[code]
https://github.com/googlesamples/easypermissions/blob/master/easypermissions/src/main/java/pub/devrel/easypermissions/helper/BaseSupportPermissionsHelper.java#L32

[code]

This will return hostActivity.getSupportFragmentManager(), causing request permissions using `ActivityCompat.requestPermissions(xxx)

[2018-01-25 16:03] SUPERCILEX commented on #198
Ouch! That completely slipped my mind, sorry @samtstern. 😊 @b95505017 this should be fixed soon.

[2018-01-25 16:10] samtstern commented on #198
@b95505017 thanks for raising this and @SUPERCILEX thanks for the quick fix!

[2018-01-25 16:11] samtstern commented on #197
Looks like @SUPERCILEX solved it, thanks!

[2018-01-25 16:11] #197 closed

[2018-01-25 16:12] samtstern commented on #150
This is pretty old and was closed once before by @jnam90 so I am going to close it again.  If anyone else experiences this issue on a recent version please file a new issue.

[2018-01-25 16:12] #150 closed

[2018-01-25 16:39] b95505017 commented on #198
Thanks for your help!

[2018-01-25 16:43] samtstern commented on #198
@b95505017 I will put out a release that includes this fix soon.

[2018-01-25 19:26] samtstern commented on #198
Released `3.1.3`.

[2018-01-25 19:26] #198 closed

[2018-01-25 20:59] b95505017 commented on #198
@samtstern Should be `1.1.3`, thanks!

[2018-01-25 21:29] samtstern commented on #198
Oops yeah!

On Thu, Jan 25, 2018, 12:59 PM Yu-Hsuan Lin <notifications@github.com>
wrote:

[2018-01-25 22:57] #190 closed

[2018-01-26 02:38] Pinggo commented on #190
Request Permissions button -> Deny first permission, Grant the second permission

Request Permissions button again -> Deny first permission, Deny the second permission -> Crash (Application is restarted)
I also find this problem,your solution works fine.Thank you!

[2018-02-02 14:47] fabianTMC commented on #159
I am facing this issue as well on v1.1.3. I am using android.app.Fragment and the callback is running in the Activity. How can I get the callback to run on the Fragment?

[2018-02-07 03:55] Xiao-ShaBi opened #200 "I can't get the permissions"
## Basic Information

Device type: ________
OS version: 5.1.1
EasyPermissions version: 1.1.3

I use easypermissions to get permissions,I promiss the permissions,but when
EasyPermissions.hasPermissions(this, PositionActivity.LOCATION_AND_CONTACTS)
still return false

`@AfterPermissionGranted(PositionActivity.RC_LOCATION_CONTACTS_PERM)
    public void findPosition() {
        if (EasyPermissions.has

[2018-02-07 06:12] Xiao-ShaBi commented on #200
I got the reason 。Because the phone ，it is 23，but it needn't to get the permissions 。so everytime it got
to regest the perssion but return false 。

[2018-02-07 06:12] #200 closed

[2018-02-13 18:16] salamanders opened #202 "Clarify the example @AfterPermissionGranted(RC_CAMERA_AND_LOCATION)"
In the README example

    @AfterPermissionGranted(RC_CAMERA_AND_LOCATION)
    private void methodRequiresTwoPermission() {
        String[] perms = {Manifest.permission.CAMERA, Manifest.permission.ACCESS_FINE_LOCATION};
        if (EasyPermissions.hasPermissions(this, perms)) {

Why is it checking for the permissions?  The method only gets called once the two permissions are granted, so isn't it

[2018-02-13 18:27] tjohns commented on #202
Off the top of my head... it's good practice to check, because the user can always retroactively revoke settings from the Settings app.

[2018-02-13 18:31] salamanders commented on #202
In that case I'm not understanding the `@AfterPermissionGranted(RC_CAMERA_AND_LOCATION)` annotation - Isn't that saying "call this method as soon as the permissions are granted, and not a moment sooner."?

[2018-02-13 18:45] tjohns commented on #202
Good question. @samtstern might have some more insight into that.

[2018-02-13 18:49] SUPERCILEX commented on #202
@salamanders yes, you are correct about how the annotation works. The idea is that you can call that method with or without permissions and it will take care of itself. If you already have the permissions, things will go through. If you don't, it'll wait for the `onPermissionGranted` callback and then go through.

TL;DR: you don't need to check for permissions if you never manually call that metho

[2018-02-13 19:36] samtstern commented on #202
Also thanks @tjohns for jumping in on easypermissions!

[2018-02-23 11:47] caramelWaffle opened #203 "Skip first rational dialog"
Is it possible to disable rational dialog eg."This app may not work correctly without requested permissions" or remove setRationale(rationale) before building the dialog.

BR.

[2018-02-23 16:27] samtstern commented on #203
@caramelWaffle no sorry, there is not.  This library is meant to implement the UX recommendations of the Android platform for permissions.  We don't allow skipping any part of the flow, even though I can understand how you might want that in certain situations.

The best thing to do is probably just use the standard platform permissions API to implement your custom flow.

[2018-02-23 16:27] #203 closed

[2018-03-05 14:22] samvgorode opened #204 "No action when press negative button from EasyPermissions.requestPermissions()"
## Basic Information

Device type: xiaomi redmi 3s;
OS version:  android 6.0.1;
EasyPermissions version: version 1.1.2 and 1.1.3;

## Describe the problem

No action when press negative button from EasyPermissions.requestPermissions()  inside fragment.

I expected that dialog will appear again.

In version 1.1.1 everything is OK.

All methods are from the box, nothing new.

[2018-03-05 16:16] samtstern commented on #204
@samvgorode are you using `android.support.v4.app.Fragment` or `android.app.Fragment`?  Does the issue still exist in `1.1.3`?

[2018-03-06 05:58] samvgorode commented on #204
I use android.support.v4.app.Fragment. I downgraded version to 1.1.1. I'll check 1.1.2 today.

[2018-03-06 06:28] samtstern commented on #204
https://github.com/googlesamples/easypermissions/releases/tag/1.1.3

Your issue should be solved by 1.1.3, I will close this and you can re-open it if that's not the case.

[2018-03-06 07:08] samvgorode commented on #204
with version 1.1.3 I still face that problem, as described above. Only 1.1.1 works properly for me. I stay with it.

[2018-03-06 15:48] samtstern commented on #204
@samvgorode do you override `onActivityResult()` in your `Activity` or in your `Fragment`?  If so do you call the appropriate `EasyPermissions` method as well as the `super` method?

[2018-03-07 07:36] Rajeshtechgeek opened #205 "Manifest.READ_SMS permission issue."
## Basic Information

Device type: Zenfone3
OS version: Android 8.0
EasyPermissions version: 1.1.3

## Describe the problem
I have both Manifest.READ_SMS,Manifest.RECEIVE_SMS in the Manifest.xml.
I have requested only Manifest.READ_SMS in request permissions from fragment.

My sms broadcast receiver working fine in prior to Oreo devices. But in Oreo device
it's not working.

[2018-03-07 14:15] samvgorode commented on #204
I override `onActivityResult()` inside `android.support.v4.app.Fragment`

`private static final int RC_BODY_SENSORS = 124;`

[code]

[code]

[code]

[code]

[code]

[2018-03-07 15:48] samtstern commented on #205
@Rajeshtechgeek what makes you think this is an issue with EasyPermissions rather than something that has changed in Android Oreo that affects how you're using the SMS APIs?  Can you show some piece of EasyPermissions code that is not working as expected?

[2018-03-08 06:39] KevinChang007 commented on #191
above means that:
if the permissions are refused, the tips dialog can't be popped out when I request these permissions the second time.

Device type: Red NOTE 4X
OS version: MIUI 8 7.5.11
EasyPermissions version: 1.1.1

[2018-03-08 16:59] samtstern commented on #204
Ok here are all the changes between `1.1.1` and now:
https://github.com/googlesamples/easypermissions/compare/2189d2f...master

And to clarify, you want to keep asking the user for permission every time it is denied?

The only thing I can think of is that maybe the code to prevent the dialog from being shown twice is actually the problem here.

[2018-03-12 11:37] mohamadk opened #207 "if user descline info dialog onRequestPermissionsResult not called"
It's a logical bug.
imagine this scenario that I want to read incoming sms to verify user phone number.
if I send my request to the server then ask for SMS permission, SMS coming to user phone before user answer the permission dialog. so its wrong way to do.
so I should first request for user permission then after user answer that I send my request to the server.but  I cannot get user response if

[2018-03-12 17:12] samtstern commented on #207
@mohamadk the "rationale" dialog is not a request for permissions.  It's a request to ask the user for permissions.  Therefore it would be incorrect to trigger the `onRequestPermissionsResult` callback after the user dismisses this dialog.

I understand your confusion, but there is nothing we can do in this case.

[2018-03-12 17:12] #207 closed

[2018-03-13 05:02] Rajeshtechgeek commented on #205
The below code is enough for app which is working fine for oreo also.
`   private void requestReadAndSendSmsPermission() {
        if (ActivityCompat.shouldShowRequestPermissionRationale(MainActivity.this, Manifest.permission.READ_SMS)) {
            Log.d(TAG, "shouldShowRequestPermissionRationale(), no permission requested");
            return;
        }
        ActivityCompat.requestPermission

[2018-03-13 13:26] Rajeshtechgeek commented on #205
When i did clean project in android studio Even above code stopped to working . There was a gradle build issue in android studio which made me to suspect easy permissions.Thanks!

[2018-03-13 13:26] #205 closed

[2018-03-14 14:05] ernestkamara commented on #204
Did you follow the examples in the sample app?

Have you tried to override `onActivityResult()` in your Activity and forward the results to your fragment's `onActivityResult()`?

[code]
You may have to also change your host/ context when for the `AppSettingsDialog` from by replacing

[code]
 with

[code]

Hope it works for you. Otherwise feel free to share a copy of your project so that i can debu

[2018-04-03 12:27] ankitgupshup opened #211 "Unable to give SMS permission on xiaomi Note 4"
## Basic Information

Device type: xiaomi note 4
OS version: Nougat[16]
EasyPermissions version: 1.1.3

## Describe the problem
Unable to give SMS read permission.
What happened?  What did you expect to happen?
I have installed the my application on above mentioned mobile. After giving the read SMS permission unable to read SMS from above mentioned mobile. Same code is working fine in all other mo

[2018-04-04 07:55] daidaishuiping commented on #211
Error:Gradle DSL method not found: 'implementation()'

[2018-04-04 18:33] samtstern commented on #211
@ankitgupshup in your original bug report you say `Nougat[16]` but those are not the same.  Is it running Android N or Android API 16 (which is very old).

Also what exactly is wrong?

- Is the permission never requested?
- Does `hasPermission` never return true?
- Does `hasPermission` return true but the SMS APIs dont work?

[2018-04-20 02:46] liudaohong opened #213 "0.4.0版本不能申请REQUEST_INSTALL_PACKAGES 应用安装未知程序应用的权限"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ________

## Describe the problem

What happened?  What did you expect to happen?

## Code and logs

[code]

[2018-04-20 04:17] samtstern commented on #213
@liudaohong I apologize but I can only support issues filed in english and with complete information.  If you're having trouble and can't meet those requirements please try StackOverflow or similar!

[2018-04-20 04:17] #213 closed

[2018-05-06 11:10] chwakil opened #214 "IllegalArgumentException from fragment"
## Basic Information

Device type: Mate 8, Nokia 3, P9, LG G4
OS version: Android 7 and Android 8
EasyPermissions version: 1.0.1

## Describe the problem

EasyPermissions.hasPermissions throws IllegalArgumentException  here does not know why. Please help.

## Code and logs
[code]

Log:
[code]

[2018-05-06 17:36] SUPERCILEX commented on #214
That line says your context is null which doesn't really make sense since you're checking it right above. Maybe try this:
[code]

[2018-05-06 17:46] chwakil commented on #214
Actually I am not able to reproduce it. My app is facing this crashes and Google play console reported it.

[2018-05-07 16:18] samtstern commented on #214
As @SUPERCILEX said you're referencing `this.activity` which is not guaranteed to be non-null at many points in the Fragment lifecycle.  This is almost certainly not an issue with EasyPermissions and I think you'll find more help if you take this question to StackOverflow.  Good luck!

[2018-05-07 16:18] #214 closed

[2018-05-08 11:19] Drjacky opened #215 "How to set custom font?"
## Basic Information

EasyPermissions version: 0.1.6

## Describe the problem

How to set Custom Font for Dialog texts?

[2018-05-08 15:44] #215 closed, assigned to nobody

[2018-05-13 07:03] Naresh-Katta opened #217 "Version conflict with support lib version 27.1.1"
When I use this library with support library version 27.1.1, I'm getting error briefly version conflict with 27.1.0.

Where can I tweak to get it fixed?

[2018-05-14 15:06] samtstern commented on #217
@Naresh-Katta can you show the `dependencies` block of your `build.gradle`?

[2018-05-15 07:30] Naresh-Katta commented on #217
api "com.android.support:appcompat-v7:${suprtLibVrtn}"
    api "com.android.support:design:${suprtLibVrtn}"
    api "com.android.support:recyclerview-v7:${suprtLibVrtn}"
    api "com.android.support:cardview-v7:${suprtLibVrtn}"
    api 'pub.devrel:easypermissions:1.2.0'
    and
    ext {
        suprtLibVrtn = "27.1.0"
    }

[2018-05-16 21:25] samtstern commented on #217
@Naresh-Katta try adding dependencies on `support-compat` and `support-fragment` as well.

[2018-05-16 21:25] #217 closed

[2018-05-22 08:53] Naresh-Katta commented on #217
All com.android.support libraries must use the exact same version specification (mixing versions can lead to runtime crashes). Found versions 27.1.1, 27.1.0. Examples include
    com. android. support : animated-vector-drawable:27.1.1 and com.android. support : exifinterface:27.1.0 more... (Ctrl+ F1)
Still getting the issue.

[2018-05-24 09:45] Dkhusainov opened #218 "Rationale callback when not using Fragment or Activity"
## Basic Information

Device type: ________
OS version: 25
EasyPermissions version: 1.0.1

## Describe the problem

What happened?
I don't use Fragment or Activity as my PermissionCallback. If the user denies rationale, I don't get the callback in onRequestPermissionsResult

What did you expect to happen?
Get the callback

[2018-05-30 17:14] samtstern commented on #218
@Dkhusainov can you show the code that you're using to request permissions and some of the class where you expect to get the callback?

[2018-05-30 17:14] samtstern commented on #211
Closing this issue because it's old with no response.

[2018-05-30 17:14] #211 closed

[2018-05-31 08:49] Dkhusainov commented on #218
My `"PermissionService"` implements `PermissionCallbacks`, then I just delegate "onRequestPermissionsResult` callback manually from `Activity`

[2018-05-31 14:54] samtstern commented on #218
@Dkhusainov please show the code where you request permissions and how you "delegate" the callback.

[2018-06-03 07:58] MrShareone opened #220 "EasyPermissions.onRequestPermissionsResult(requestCode, permissions, grantResults, this);"
i think the forth param in method onRequestPermissionsResult() is necessary, why its optional???

[2018-06-04 18:58] zhuosun-rally opened #221 "AAPT: error: resource style/EasyPermissions.Transparent (aka com.app.internal.debug:style/EasyPermissions.Transparent) not found"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: __1.2.0______

## Describe the problem

android/build/intermediates/manifests/full/feature/internal/debug/AndroidManifest.xml:59:
AAPT: error: resource style/EasyPermissions.Transparent (aka com.app.internal.debug:style/EasyPermissions.Transparent) not found

What happened?  What did you expect to happen?

##

[2018-06-10 18:56] marryyoda opened #222 "Logo Design"
Hi! I am graphic designer, if you interested I can design a logo for your project.

Cheers! :)

[2018-06-11 15:38] samtstern commented on #218
@Dkhusainov I don't think this is a good idea, `Service` classes should not hold references to `Activities`.  Also permissions should only be requested when the user is inside of your app, which means you should have an `Activity` or `Fragment` context at that time.

So I don't think `EasyPermissions` should support this request.

[2018-06-12 17:04] #220 closed

[2018-06-12 17:04] samtstern commented on #221
Are you adding this to your app?  If so, why?
[code]

[2018-06-14 11:30] Dkhusainov commented on #218
1. It's not an android `Service`. Just a class that I suffixed with Service
2. Obviously I have activitity context, otherwiouse how would I request permissions?

I simply ask you to maybe overload EasyPermissions and add another param(explicit `PermissionCallbacks`), instead of casting things left and right the usual Google/Android way.

![image](https://user-images.githubusercontent.com/7382654/4

[2018-06-20 16:11] samtstern commented on #149
@quevon24 you have the correct understanding.  Here's the basic flow:

1. call `methodRequiresTwoPermission()`
2. The `if()` check fails, so the `else` branch executes and permissions are requested
3. When the permissions are granted, the method is called again
4. This time, the `if()` check passes and that branch is run

This allows you to keep a single "self-healing" method that requests permiss

[2018-06-30 18:49] henriquenfaria commented on #112
@samtstern do you need help with this? The first step imo would be setting up [codecov](https://github.com/codecov/example-android) + jaCoCo to track the progress.

[2018-07-07 11:32] imramsuthakar opened #223 "In Fragment easypermissions not working fine getting the following issue"
## Basic Information

Device type: Vivo V9
OS version: 8.0
EasyPermissions version: 1.2.0

## I Have tried to add the Call permission in Fragment it will getting crashed the initial time after that it will working fine, the same code in activity working always fine. I have posted my log in below

What happened?  What did you expect to happen?

##      Caused by: java.lang.RuntimeException: Cannot

[2018-07-07 11:58] #223 closed

[2018-07-09 18:38] samtstern commented on #112
@henriquenfaria thanks for asking!  Sorry for the late response, was on vacation.  Any help here would be great.  If you know how to set up those tools for an Android project I'd gladly accept a pull request!

[2018-07-11 07:51] henriquenfaria commented on #112
@samtstern Cool! I will send a PR soon.

[2018-07-12 09:18] xiaochenu commented on #221
me too

[2018-07-14 17:48] henriquenfaria commented on #112
@samtstern Just opened [this](https://github.com/googlesamples/easypermissions/pull/224) PR integrating codecov. I didn't write any new tests yet (will do that in another PR when this is merged), just refactored the existing ones a little bit.

[2018-07-17 04:10] adin234 opened #225 "Conductor Controller Integration"
Right now, this library only works with activities and fragments, are there any plans to support [Conductor](https://github.com/bluelinelabs/Conductor/)'s Controllers?

[2018-07-17 08:37] loihd opened #226 "NullPointerException"
## Basic Information

Device type: Defy Mini
OS version: 4.3.1
EasyPermissions version: 1.2.0

## Describe the problem

Crashlytics reported this issue. Please take a look

## Code and logs

## Code
[code]
## Logs
[code]

[2018-07-17 16:49] samtstern commented on #226
@loihd this mentions `AppSettingsDialogHolderActivity` which is not part of the standard flow and only launches when you use the "permissions permanently denied" flow and redirect the user to settings.  Can you show the code that launches it?

[2018-07-17 16:55] samtstern commented on #225
@adin234 thanks for the link, I had not heard of the Conductor framework before.  EasyPermissions is just meant to be a wrapper over the Android Framework permissions APIs, we don't plan to support every app architecture directly.

It's not possible to make a permissions request without somehow getting hold of an `Activity` or `Fragment` reference, even if you're using a `View` based framework.

A

[2018-07-17 16:55] #225 closed

[2018-07-17 19:16] SUPERCILEX commented on #225
Agreed. If you really need to use EP from Conductor, you could always add this hack: `(Activity) view.getContext()`

[2018-07-18 01:40] loihd commented on #226
I didn't launch it. My app only asks for access contacts permission. You can see in the code that I mentioned above. It must call the `getPhones() `function instead of asking for the permission since this device is Android 4.3.1. It's weird.

[2018-07-18 01:51] SUPERCILEX commented on #226
You're on Android 4.3.1? It shouldn't request permissions at all before Android 6.0... where else are you calling EP APIs?

[2018-07-18 02:04] loihd commented on #226
I only asked the permission with the code above. Nothing else. Crashlytics reported this issue. This device is rooted. But we should prevent the crash issue.  You can see the screenshot here: [crashlytics](https://www.dropbox.com/s/hi7ithtejzx8ktt/Screenshot%202018-07-18%2009.03.17.png?dl=0)

[2018-07-18 02:09] SUPERCILEX commented on #226
Oh, yeah, I don't think we can do anything about that. @samtstern?

[2018-07-18 20:39] henriquenfaria commented on #112
@samtstern I've just opened a [PR](https://github.com/googlesamples/easypermissions/pull/227) adding tests for all `requestPermissions()` methods. In a future PR I'll add more tests that will cover all remaining methods of the public api.

[2018-07-19 18:03] samtstern commented on #226
Yeah @loihd unfortunately there's nothing we can really do for an OS that old on a rooted device.

In your case you may want to try just using the raw Android permissions API to try and get more contro.

[2018-07-19 18:04] #226 closed

[2018-07-24 07:43] sheng930920 opened #228 "java.lang.RuntimeException: Cannot execute method requestPhone because it is non-void method and/or has input parameters."
## java.lang.RuntimeException: Cannot execute method requestPhone because it is non-void method and/or has input parameters.

Device type: samsung
OS version: SM-J250F  Android7.1.1
EasyPermissions version: 1.2.0

## Describe the problem

I Have tried to add the Call permission in Activity it will getting crashed the initial time after that it will working fine, the same code in activity working a

[2018-07-24 13:59] samtstern commented on #228
The AfterPermissionGranted annotation can only be used with methods that take no parameters.  Your request phone method takes a string.

[2018-07-24 13:59] #228 closed

[2018-07-26 07:29] PbPguna opened #229 "Issue While creating signed apk"
## Basic Information
i am using easypermissions1.2.0. while i am creating  signed apk i got

Error:Execution failed for task ':app:transformClassesWithJarMergingForRelease'.

this error help me to solve the issue.

[2018-07-26 15:58] sebkur opened #230 "Passing flags to the Intent created from AppSettingsDialog"
## Basic Information

EasyPermissions version: 1.2.0

## Describe the problem

When the user denies a permission request, I'm using an `AppSettingsDialog` in my `onPermissionsDenied()` callback to display a rationale and send the user to the app info screen.
I'm having logic elsewhere in my apps to send the user to the app info screen and would like that behavior to be consistent in terms of the f

[2018-07-26 18:37] samtstern commented on #229
`duplicate entry: com/google/common/annotations/Beta.class` that doesn't seem like it has anything to do with EasyPermissions in particular.  Could you try posting this on StackOverflow? That's a better place for general app debugging.

[2018-07-26 18:37] #229 closed

[2018-07-27 07:16] AnMokoto opened #231 "Is it bug?"
## Basic Information

Device type: ___vivo x20_____
OS version: ___7.1.1_____
EasyPermissions version: ___1.2.0_____

## Describe the problem

What happened?  What did you expect to happen?

## Code and logs

[code]

![qq 20180727151318](https://user-images.githubusercontent.com/10859832/43307114-ef4c2f8c-91af-11e8-8891-512ffa8d84e6.png)

support version 27.1.1
as verson: 3.1.2

@samtstern i need

[2018-07-27 16:50] samtstern commented on #231
@AnMokoto there's not enough information here to debug, you haven't shown the full stack trace or the code that causes the issue.

[2018-07-27 20:35] samtstern commented on #230
Thanks for the interesting proposal!  What other flags do you think people would be interested in adding to the intent?  If just the one, we could do a more friendly change like adding an openInNewTask() method to the builder.

[2018-07-28 14:55] AnMokoto commented on #231
@samtstern  thx for u reply

that's my code below:

[code]

Not of all have reported this error. The log shows that only this Chinese-produced such as `vivo` reported this error.I think of the wrong that `Manifest.permission.MOUNT_UNMOUNT_FILESYSTEMS` even though it's not a native ROM.

[2018-07-29 19:15] gustawdaniel opened #233 "Support for compileSdkVersion 28"
## Basic Information

Device type: Moto Z
OS version: Android 8.0
EasyPermissions version: 1.2.0

## Describe the problem

In docs there is written that `compileSdkVersion` should be 27.

Is it planned update to 28?

I new in Android world, so If my question is inappropriate please explain why or at least link docs. Thank you in advance.

[2018-07-29 19:17] SUPERCILEX commented on #233
You're free to update to API 28. But yeah, we need to kill framework fragment support and update to support lib v28 when that hits stable.

[2018-07-29 20:09] gustawdaniel commented on #221
I have the same error in compileSdkVersion 28. It is interesting that in 27 i have other errors:

[code]

and

[code]

I can show more detailed logs connected with this error in compileSdkVersion 28.

[code]

[2018-07-30 06:16] gustawdaniel commented on #233
Anyway in my case I could not use this library because of error

But this issue can be closed.

[2018-07-30 06:16] #233 closed

[2018-07-31 07:28] sebkur commented on #230
I'm not sure because there are so many flags and I'm not fully aware of what they're all good for. I've seen people using `FLAG_ACTIVITY_NO_HISTORY` and `FLAG_ACTIVITY_EXCLUDE_FROM_RECENTS` on it, for example in this SO post: https://stackoverflow.com/a/32822298/1268759

[2018-07-31 18:56] samtstern commented on #231
@AnMokoto ok it looks like it's getting into an infinite loop.  `hasPermissions` is returning false but then `requestPermissions` is coming back successful immediately.  This calls the annotated method which gets back into the loop.

I assume this only reproduces on certain devices?

[2018-08-01 07:57] AnMokoto commented on #231
@samtstern Yeap,it was successfully on the other devices. I did not  known it was makes a fault that the producers does what. Cause the systems were not an Android Native Rom and framework.
i hope u no what i mean. 😢

[2018-08-01 17:00] samtstern commented on #231
@AnMokoto I understand.  Unfortunately with device-specific things like this there is nothing we can do in `EasyPermissions`.  The error is at a lower level.

You will need to use the Android system permissions API yourself and track when you get a successful result to avoid getting into a loop, as I think `hasPermissions` is going to lie to you :-/

[2018-08-01 17:00] #231 closed

[2018-08-02 00:56] AnMokoto commented on #231
@samtstern   :smile: Thx for u help and I has been fixed this issue yesterday.

[2018-08-02 10:20] youyuanme opened #234 "@AfterPermissionGranted,When using this annotation method, the method cannot take parameters"
@AfterPermissionGranted(RC_CAMERA_AND_LOCATION)
private void methodRequiresTwoPermission(String str) {
    String[] perms = {Manifest.permission.CAMERA, Manifest.permission.ACCESS_FINE_LOCATION};
    if (EasyPermissions.hasPermissions(this, perms)) {
        // Already have permission, do the thing
        // ...
    } else {
        // Do not have permissions, request them now
        EasyPermiss

[2018-08-02 14:40] samtstern commented on #234
That is working as intended.  Since the methods are called by reflection after the permission is granted we would have no idea what parameters to pass.

[2018-08-02 14:40] #234 closed

[2018-08-02 17:55] ScottPierce commented on #221
I'm encountering this issue also.

[2018-08-03 09:11] IT-Talon opened #235 "EasyPermissions.requestPermissions How to request the permission directly without pop up the tip message."
## Basic Information

Device type: ___Oneplus 6_____
OS version: _____8.1.0___
EasyPermissions version: ___1.2.0_____

## Describe the problem

What happened?  What did you expect to happen?

I reject the permission request first,then I request the permission again,it will pop up a tip message then the request permission box of the system. I just want it to request the system permission directly w

[2018-08-03 17:17] samtstern commented on #235
@IT-Talon that pop up box is called "rationale" and it is recommended (strongly) by Android UX guidelines. The goal of this library is to make following those guidelines really easy.  If you want to do something else, EasyPermissions is not for you!

[2018-08-03 17:17] #235 closed

[2018-08-03 18:18] samtstern commented on #112
@henriquenfaria has slain the testing dragon!

[2018-08-03 18:18] #112 closed

[2018-08-06 16:13] samtstern commented on #230
This is fixed by #237.

I will release this as `1.3.0` as it's a new feature.

[2018-08-06 16:13] #230 closed

[2018-08-06 16:16] sebkur commented on #230
Thanks, looking forward to the release

[2018-08-10 16:37] emaborsa commented on #217
Same issue here. Using the 27.1.0 it works, setting 27.1.1 I get the same error.

[2018-08-10 17:59] samtstern commented on #217
These are the libraries we depend on:

[code]

You should add explicit dependencies on each of those at whatever version you want.  That will tell gradle what to do.

Any further problem is coming from another dependency or from your build customizations.

[2018-08-10 20:59] SUPERCILEX commented on #204
@samvgorode I can't repro, could you try forking this repo and changing the [MainFragment](https://github.com/googlesamples/easypermissions/blob/master/app/src/main/java/pub/devrel/easypermissions/sample/MainFragment.java) to reproduce your bug?

[2018-08-10 22:53] emaborsa commented on #217
I took my dependencies, put it into an empty project and 'played' with them, in order to figure out the problem.
In my case it was 'com.squareup.picasso:picasso:2.71828' to conflict with 'com.android.support:appcompat-v7:27.1.1'. By removing it, it works.

[2018-08-14 14:08] omar753sahl opened #240 "Calling `EasyPermissions.requestPermissions` in `onPermissionsDenied` doesn't show permission dialog."
## Basic Information

Device type: Samsung J7 2016
OS version: 7.0
EasyPermissions version: 1.3.0

Calling `EasyPermissions.requestPermissions` in `onPermissionsDenied` doesn't show permission dialog.

Is this the intended behavior or am I missing something?
I expected to see another permission dialog.

[2018-08-14 14:36] omar753sahl commented on #240
UPDATE: I downgraded to version 1.1.1 and it worked as expected.

[2018-08-14 16:13] SUPERCILEX commented on #240
See https://github.com/googlesamples/easypermissions/issues/204#issuecomment-412204799, I can't reproduce it so getting a sample would be great.

[2018-08-14 17:56] samtstern commented on #240
Going to mark this a duplicate of #204 but @omar753sahl let's keep discussing over there if you are willing!

[2018-08-14 17:56] #240 closed

[2018-08-14 18:18] samtstern opened #241 "Remove all deprecated methods for 2.0.0"
[Tracking bug]

[2018-08-23 00:28] heath3n opened #244 "[Request] AppSettingsDialog callbacks"
## Basic Information

Device type: Samsung Galaxy S8
OS version: Oreo 8.0
EasyPermissions version: 1.3.0

## Describe the problem
It would be nice to have callbacks for the `AppSettingsDialog` actions similar to the ones that are already in place for the rationale dialog.

Use case: One of my tabs requires a permission before it can load any content. In the event that the user permanently denies t

[2018-08-23 19:29] SUPERCILEX commented on #244
You can simply check to see if you have the permissions in [`onActivityResult`](https://github.com/googlesamples/easypermissions/blob/master/README.md#required-permissions)

[2018-08-28 17:16] samtstern commented on #244
@SUPERCILEX 's suggestion is correct, so going to close this issue.  Hope that makes sense @heath3n

[2018-08-28 17:16] #244 closed

[2018-08-29 10:44] XinyueZ opened #245 "androidx support please"
For jetpack, this library can not be used if I use androidx namespace.

[2018-08-29 15:32] samtstern commented on #245
@XinyueZ can you explain the error you're getting and how to reproduce it?

[2018-08-29 19:40] XinyueZ commented on #245
@samtstern
I have a project with androidx namespace which is from jetpack,

i.e.
[code]
however, the library is using `android.support.v4.app.Fragment` etc which is not awesome.
Actually, I can not use this library for jetpack project.

**Can the library starts snapshot for Jetpack, androidx namespace?**

[2018-08-29 19:44] SUPERCILEX commented on #245
@XinyueZ We can't do that until everyone has migrated. In the meantime, [enable the Jetifier](https://developer.android.com/topic/libraries/support-library/androidx-overview):
![image](https://user-images.githubusercontent.com/9490724/44811318-37cf4580-ab89-11e8-940e-0d9ff546da8c.png)

[2018-08-29 19:59] XinyueZ commented on #245
OK thanks, I close the ticket just for info of your side.

[2018-08-29 19:59] #245 closed

[2018-08-29 20:26] samtstern commented on #245
Thanks @XinyueZ and @SUPERCILEX for resolving this!

[2018-08-29 21:38] samtstern commented on #241
I think this was completed by @SUPERCILEX

[2018-08-29 21:38] #241 closed

[2018-08-30 12:50] faizfolio opened #247 "Unable to build while using Proguard"
Device type: Samsung S8
OS version: 8.0.0
EasyPermissions version: 1.3.0

When I try to build, I am getting the following proguard warning. Due to which I am unable to build and run my app.

[code]

Gradle configurations for proguard in my build.gradle are
[code]

Using following support libraries
[code]
Note: **I am not using any of the architecture component in my project.**

This works fine If

[2018-08-30 17:45] SUPERCILEX commented on #247
I think you need to update your support lib version to 27.1.1

[2018-08-30 17:47] samtstern commented on #247
Yeah @SUPERCILEX is probably right, the support libraries depend on some of the base architecture stuff which is why you're seeing it even without using it yourself.

[2018-08-31 06:50] kk-sugar opened #248 "Vivo Y75A permission failed"
## Basic Information

Device type: ___Vivo Y75A_____
OS version: ____Android 7.1____
EasyPermissions version: __1.3.0______

## Describe the problem
EasyPermissions.hasPermissions(this, Manifest.permission.CAMERA) returns true regardless of whether the authorization is turned off or on.
What happened?  What did you expect to happen?

## Code and logs

[code]

[2018-08-31 07:44] faizfolio commented on #247
If I add the following proguard rule in my proguard-rules.pro file the build problem resolves.

`
-dontwarn pub.devrel.**
`

Will this cause any problem?

[2018-09-01 13:53] peterhav commented on #245
Just a minor question related to this, I decided to switch to AndroidX. In the UI of Android Studio I do see the following errors:

![image](https://user-images.githubusercontent.com/1724223/44946541-525e2480-adfe-11e8-8977-26291021ccf2.png)

The error says cannot resolve method (due to the fact that the method now receives a `androidx.fragment.app.Fragment`). Compilation works fine (using the Jet

[2018-09-01 19:31] SUPERCILEX commented on #247
If you aren't getting linkage errors at runtime in your debug builds, you're probably fine. However, the easiest way to know for sure is to run a release build.

[2018-09-01 19:33] SUPERCILEX commented on #245
Are you using Android Studio 3.2?

[2018-09-01 21:02] peterhav commented on #245
@SUPERCILEX, yes, I'm using 3.2 RC2, but nevermind: the error seems to have disappeared today. This could be related to a new version of the SDK Platform tools (28.0.1) which I installed today.

[2018-09-04 06:40] jhamin0511 opened #249 "MainFragment RC_SMS_PERM requestCode are diffrent in Activity and Fragment"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ________

## Describe the problem

Why diffrent requestCode of onPermissionsDenied() in Activity and Fragment?

MainFragment reqestCode[RC_SMS_PERM] is 122, and reqestCode of onPermissionDenied() in fragment interface method  is 122.

but, Activity requestCode is 65658.

who is know this diffent?

[2018-09-08 17:29] XinyueZ commented on #245
If anyone has problem with easypermissions on Jetpack or under androidx namespace,
I've converted easypermissions to support Jetpack which has androidx namespace
http://tinyurl.com/y7qb2rr7

This is a workaround to mirror origin project, it won't be supported for any bug fixing etc, it is only for `androidx` namespace.

[code]

[2018-09-09 03:09] DeweyReed commented on #226
Same crash but on Nexus 4 with Android 6.0.1.

[code]

[Crash point is here.](https://github.com/googlesamples/easypermissions/blob/master/easypermissions/src/main/java/pub/devrel/easypermissions/AppSettingsDialog.java#L85)
It seems because the intent doesn't have `dialog` extra. But after I check the source code, this intent is guaranteed to have that extra.
It's weird.

[2018-09-11 02:44] huangjim opened #250 "how to disable rationale dialog?"

[2018-09-11 07:12] nareshkatta99 commented on #217
@emaborsa is right. This issue not because of easypermissions.
adding `api "com.android.support:exifinterface:27.1.1";` worked like a charm for me

[2018-09-11 12:11] weiweiForAndroid opened #251 "AfterPermissionGranted"
最新版本，该方法不回调。

[2018-09-11 15:56] samtstern commented on #250
@huangjim this is intentionally not possible.  EasyPermissions was built to make it simple to follow the recommended permissions UX flow, which includes a rationale dialog.

If you don't want that dialog, you'll have to use the regular Android permissions API.

[2018-09-11 15:56] #250 closed

[2018-09-11 15:57] samtstern commented on #251
@weiweiForAndroid this is not enough information to debug.  Please show the code you wrote and where it is failing.

[2018-09-13 22:51] samtstern commented on #247
Closing as I think @SUPERCILEX got to this, thanks!

[2018-09-13 22:51] #247 closed

[2018-09-13 22:52] samtstern commented on #248
Closing since it's been a few weeks.  Let me know if you want to keep discussing and I'll reopen!

[2018-09-13 22:52] #248 closed

[2018-09-19 02:01] itgoyo opened #252 "The code does't work when using Fragment"
## Basic Information

Device type: huawei M2
OS version: 6.0
EasyPermissions version: 1.3.0

## Describe the problem

I had denied camera and record permission in phone setting,
but in my code ,
[code]
it always retrun true

lead to permission dialog does no show

## Code and logs

[code]

[2018-09-19 02:06] SUPERCILEX commented on #252
What's the implementation for `hasCameraAndRecordPermissions`?

[2018-09-19 02:09] itgoyo commented on #252
[code]

[2018-09-19 02:11] SUPERCILEX commented on #252
Yeah... There's nothing we can do about vendor bugs. 😞

[2018-09-21 13:47] squeeish commented on #251
After spending half an hour, I realised I forgot to add `this` to the end of the forwarded results to EasyPermissions.

[code]

[2018-09-29 11:48] yankarinRG opened #254 "onPermissionGranted not being called after permission have been granted and @AfterPermissionGranted not working either"
## Basic Information

Device type: Nexus 5X (emulator)
OS version: Android 9.0
EasyPermissions version: 2.0.0
## Describe the problem

After both ACCESS_FINE_LOCATION and RECEIVE_SMS have been granted, onPermissionGranted is not being called. Using @AfterPermissionGranted, is not working either.

## Code and logs

`public class LaunchScreenActivity extends AppCompatActivity implements EasyPermissi

[2018-09-29 15:46] #254 closed

[2018-10-12 03:27] martin-huang opened #255 "EasyPermissions.hasPermissions is not correct ，can you help me"
## Basic Information

Device type: Red mi note4x
OS version: 7.0
EasyPermissions version: 2.0.0

## Describe the problem
why the result of EasyPermissions.hasPermissions not the same PermissionChecker.checkPermission()

What happened?  What did you expect to happen?
i use EasyPermissions to require Camera permissions bug Denied by the MIUI not the system
in system setting show that ,i have the cam

[2018-10-12 03:47] mianaliasjad commented on #226
Same crash but on Nexus 4 with Android 6.0.1.

[2018-10-12 04:27] samtstern commented on #255
@martin-huang could you show the problem with a slightly simpler example?  Also what happens if you use `ContextCompat` directly?

[2018-10-18 03:38] yizuochengchi commented on #197
thanks！ 😀every one

[2018-10-19 21:37] kemsky commented on #221
With latest SDK updates works for me.

[2018-10-21 21:36] abou7mied commented on #221
I faced a similar problem, I fixed it by excluding the android support library because of a conflict in the different versions
[code]

[2018-10-21 21:40] abou7mied commented on #221
I faced a similar problem
[code]
 I fixed it by excluding the android support library because of a conflict in the different versions

[code]
I hope this may help you

[2018-10-25 08:09] chao9267 opened #260 "Error:(7) resource android:attr/dialogCornerRadius not found."
An error occurred： resource android:attr/dialogCornerRadius not found.
when i Importing the version 2.0.0

[2018-10-28 21:19] samtstern commented on #260
This looks similar to this question:
https://stackoverflow.com/questions/49280632/error9-5-error-resource-androidattr-dialogcornerradius-not-found

Have you tried that solution?  EasyPermissions depends on support lib 28.0.0, so you should raise your SDK versions to 28.

[2018-10-28 21:19] #260 closed

[2018-11-01 15:03] Dkhusainov commented on #218
Any updates on this issue?

[2018-11-06 06:54] zhangyunx commented on #221
implementation('pub.devrel:easypermissions:2.0.0') {
        exclude group: 'com.android.support'
    }
i has add dependencies,but build fail
e: Supertypes of the following classes cannot be resolved. Please make sure you have the required dependencies in the classpath:
    class com.tanwan.basesdk.base.BaseActivity, unresolved supertypes: pub.devrel.easypermissions.EasyPermissions.PermissionCallb

[2018-11-07 12:34] ItsReddi opened #263 "Permissions are not requested, correctly anymore"
## Basic Information

Device type: Galaxy S8
EasyPermissions version: 2.0.0 / 1.3.0

## Describe the problem

What happened?  What did you expect to happen?
We discovered the same Problem as #255 after upgrading from compileSDK 26 to 27/28. (Permissions always return false, and no Dialog appears)

Because of that an our application is to big to get a good example i started a test with a fresh proj

[2018-11-08 10:13] ItsReddi commented on #263
`onRequestPermissionsResult` is not called if permissions are disabled via appsettings and you trigger requestPermissions

[2018-11-08 17:21] samtstern commented on #255
No response for 28 days, so closing this issue as not reproducible.

[2018-11-08 17:21] #255 closed

[2018-11-08 17:37] samtstern commented on #263
@ItsReddi thanks for providing the sample project!  I was able to reproduce and fix your issue.

In your sample project you had this:

[code]

But you need to add a line:

[code]

In general you always want to call super when using `onActivityResult` or you can get strange behaviors.

[2018-11-08 17:37] #263 closed

[2018-11-09 06:44] nAkhmedov commented on #151
is @AfterPermissionGranted annotated method calling after enable permission in Fragment?

[2018-11-09 08:54] nAkhmedov commented on #20
I missed the last param so that i didn't receive @AfterPermissionGranted method calling
replace your code from
`        EasyPermissions.onRequestPermissionsResult(requestCode, permissions, grantResults);
`
to
`        EasyPermissions.onRequestPermissionsResult(requestCode, permissions, grantResults, this);
`

[2018-11-20 06:12] dielian-wizard-ly opened #264 "Application permission settings cannot be opened."
## Basic Information

Device type: vivo x21
OS version: Android 28
EasyPermissions version: 2.0.0

Application permission settings cannot be opened.

when I denine permission, show open app settings tip,  choose sure,  Flash back to the application. cannot open Application permission settings interface?

I try to add new `AppSettingsDialog.Builder(this).setOpenInNewTask(true).build().show()` ,  It

[2018-11-20 15:09] samtstern commented on #264
@dielian-wizard-ly what happens when you call `.show()` like that?  Are there any errors in the `logcat`?  Does the app crash?

[2018-12-12 12:27] nareshkatta99 opened #265 "AndroidX migration?"
The users who are Using AndroidX can not use this awesome library.
Please create another version for AndroidX migrated projects.

[2018-12-12 19:14] samtstern commented on #265
@nareshkatta99 are you using Jetifier?  What problems are you having using this library with AndroidX?

[2018-12-21 11:37] aoikonom opened #266 "Crashing when showing rationale dialog"
## Basic Information

Device type: Nexus 5X on emulator
OS version: -
EasyPermissions version: 2.0.0

## Describe the problem

I am using build tools 28.0.3 for a legacy application that uses Holo themes.  When rationale dialog is to be shown (the second time I request permission after the first time it was denied) I get a crash "java.lang.IllegalStateException: You need to use a Theme.AppCompat t

[2019-01-03 18:17] samtstern commented on #266
@aoikonom sorry about the really slow response here, I was out on vacation over the holidays.

So does your Activity implement `android.support.v4.app.FragmentActivity` but not `AppCompatActivity` ?

[2019-01-03 18:49] samtstern commented on #266
I was able to reproduce this in a failing test, will send a PR with an update.

[2019-01-07 10:35] NoteJGPak commented on #265
@samtstern

When using the library in Fragment, it says that android.support.v4.app.Fragment can not be found.

The reason is that if you use androidx you are using androidx.fragment.app.Fragment the corresponding fragment.

[2019-01-08 16:33] appsming opened #269 "系统设置里开启或关闭权限，再次回到activity或fragment 会出现空白页"
## Basic Information

Device type: ____华为____
OS version: ____android 7.0____
EasyPermissions version: __0.1.0______

## Describe the problem
系统设置里开启或关闭权限，再次回到activity或fragment 会出现空白页
What happened?  What did you expect to happen?

## Code and logs

public class MainActivity extends AppCompatActivity implements EasyPermissions.PermissionCallbacks{

    private TextView  mLocResult = null;

    @Ov

[2019-01-08 16:41] samtstern commented on #269
@appsming sorry but I can only accept / answer issues written in English as I don't speak any other languages.  It's not clear from the code alone what the problem is here, so I have to close the issue.

Please try StackOverflow or another community which might have people who are better able to help you with this issue in another language,

[2019-01-08 16:41] #269 closed

[2019-01-09 08:34] Codepeaker commented on #69
It's not intuitive, just simple text and two buttons because of that user will mostly cancel and move on.
We should either provide a custom XML and a flag to enable or disable or completely remove it.

[2019-01-11 06:45] 287257255 opened #271 "Permission checks always return 0 on some devices"
Can you add this method  above 6.0
PermissionChecker.checkSelfPermission

[2019-01-11 21:43] samtstern commented on #271
@287257255 sorry this request doesn't have enough information for me to understand it.  Are you requesting an API change?  Is there a bug in an API right now?  Maybe a code sample would help to clarify.

[2019-01-12 11:19] 287257255 commented on #271
@samtstern
Some device systems are above 6.0, but the permission mechanism has not been upgraded. I have met some models of VIVO and HTC, although I know this is the manufacturer's reason, I just ask, whatever.

[2019-01-15 15:35] ngallazzi commented on #197
Thanks!!

[2019-01-15 15:36] sungerk commented on #265
+1

[2019-01-15 22:35] samtstern commented on #266
Fixed and released in version `2.0.1`

[2019-01-23 16:57] samtstern commented on #264
It's been a while since there was any information posted here and there's not enough information to debug, so closing.

[2019-01-23 16:57] #264 closed

[2019-01-23 16:59] samtstern commented on #265
This is being addressed in #272 and will be a part of release `3.0.0`

[2019-01-23 21:59] samtstern commented on #265
Fixed and released in `3.0.0`

[2019-01-23 21:59] #265 closed

[2019-02-13 08:12] bozomoyy opened #273 "EasyPermissions.hasPermissions return true anytime,no false?why?"
Android stutio version:3.3.1
SDK level:28
Android API level:23(6.0)
I use EasyPermissions to dynamic request permissions,Then the problem arises. When i try to request canmera permission,i found that EasyPermissions.hasPermissions this number of code return true anytime,the mobile even not ask me.And below is my code:
[code]

[2019-02-15 16:57] samtstern commented on #273
@bozomoyy a few questions:

  * After `hasPermissions` returns true and you call `openCamera()` what happens?
  * What device are you running on and what version of Android does that device have?

[2019-02-21 17:16] sebasrobert012 opened #274 "What are the dependencies occupy?"
I would like to know the dependencies that they occupy, I am new programming :(

[2019-02-21 17:36] samtstern commented on #274
You can see the library dependencies here:
https://github.com/googlesamples/easypermissions/blob/master/easypermissions/build.gradle#L36

Currently they are:
[code]

[2019-02-21 17:36] #274 closed

[2019-02-26 08:33] lhtriet opened #275 "Crash when go back to app after disable permission on Settings"
## Describe the problem

After allowing permission by using easypermissions, I go to Settings to disable (any) permission, go back to app, it will crash without any log.

## Code and logs

    private fun askAudioPermission(conversationWrapper: ConversationWrapper) {
        if (EasyPermissions.hasPermissions(this, Manifest.permission.RECORD_AUDIO)) {
            newConversationDetailViewModel.wit

[2019-02-26 17:21] samtstern commented on #275
@lhtriet `it will crash without any log.` is not really possible.  If your app crashes there will definitely be an entry in the `logcat`.

[2019-02-27 03:24] lhtriet commented on #275
Sorry, this is the error log:
2019-02-27 10:23:09.570 11552-11552/io.aioz.cryptochat E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.aioz.cryptochat, PID: 11552
    java.lang.RuntimeException: Unable to start activity ComponentInfo{io.aioz.cryptochat/io.aioz.cryptochat.ui.main.conversations.newConversationDetail.NewConversationDetailActivity}: java.lang.IllegalArgumentException: No injecto

[2019-02-27 16:44] samtstern commented on #275
@lhtriet there is no mention of EasyPermissions in that stack trace it all.  It seems like your application has some issues with how it resumes:

[code]

I'd suggest asking on StackOverflow for some general help debugging this.

[2019-02-27 16:44] #275 closed

[2019-03-04 04:57] teminnov commented on #121
I've changed the network and Invalid caches/Restart in file menu. Everything fine now...

[2019-03-06 04:09] mianaliasjad opened #277 "somePermissionPermanentlyDenied() returning always true"
somePermissionPermanentlyDenied in onPermissionsDenied is retuning always true. I have check this issue on 2 devices lg v20 (8.0) and lg g5 (6.0.1). Same results on both devices. If user simple deny the permission  not "don't ask again" then somePermissionPermanentlyDenied is retuning true.

[2019-03-06 04:30] mianaliasjad commented on #277
That was my mistake. In my app there was one activity and many fragments. I was requesting permission in fragments but it is android behavior that if a fragment request permission then onRequestPermissionsResult of activity is also called. Hope it will help someone in the future.

[2019-03-06 04:30] #277 closed

[2019-03-21 03:02] YouJZ opened #278 "java.lang.NullPointerException"
## Basic Information

Device type: __huawei______
OS version: __android 6.0______
EasyPermissions version: ____2.0.1____

## Describe the problem

What happened?  What did you expect to happen?
when I call AppSettingsDialog show
## Code and logs

java.lang.RuntimeException:Unable to start activity ComponentInfo{com.qiushibaike.inews/pub.devrel.easypermissions.AppSettingsDialogHolderActivity}: java

[2019-03-21 15:32] samtstern commented on #278
@YouJZ I'm not quite sure where to start with this one, especially since it looks like you're using an obfuscator which causes your method names to become symbols: `void vy.֏`

Are you able to reproduce this easily on a local device?

[2019-03-21 16:38] LolWalid commented on #193
I have a similar bug in version `1.2.0` and not in `1.1.2`.

Looks like easypermission is keeping reference to the Fragment after rotation

But I don't get why if I rotate only once, it doesn't crash.

[2019-03-22 08:36] ngallazzi opened #279 "requestPermissions method doesn't show RationaleDialog androidx"
## Basic Information

Device type: Xiaomi Redmi 5
OS version: 8.1
EasyPermissions version: 3.0.0

## Describe the problem

Permission dialog doesn't open on permission request

## Code and logs

[code]

Gradle:

`apply plugin: 'com.android.application'

apply plugin: 'kotlin-android'

apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-kapt'

android {
    compileSdkVersion 28
    defa

[2019-03-22 10:22] #279 closed

[2019-03-27 08:14] mianaliasjad opened #280 "update for android q permissions"

[2019-03-27 16:34] samtstern commented on #280
What is the specific update you're looking for?

On Wed, Mar 27, 2019, 1:14 AM Mian Ali Asjad <notifications@github.com>
wrote:

[2019-03-27 19:21] aoikonom commented on #266
The bug seems to have been fixed for calls made from an activity, but not when EasyPermissions.requestPermissions is called from inside a Fragment.  The problem seems to lie in the code below

`

    public static PermissionHelper<? extends Activity> newInstance(Activity host) {
        if (Build.VERSION.SDK_INT < Build.VERSION_CODES.M) {
            return new LowApiPermissionsHelper<>(host);

[2019-03-27 19:22] samtstern commented on #266
@aoikonom thanks for pointing this out!

[2019-03-27 19:24] aoikonom commented on #266
Thanks for the quick response

[2019-04-01 07:28] artakka commented on #278
@samtstern This may be the same crash, without obfuscation. I got it during a stress test.

[code]

[2019-04-01 09:09] aantoniv commented on #218
Any updates on this issue?

[2019-04-01 15:19] Dkhusainov commented on #218
I ended up just using this hack. Hope this helps anyone

[code]

[2019-04-01 16:12] samtstern commented on #278
@artakka thanks for that stack trace!  Will be very useful.

[2019-04-01 16:13] samtstern commented on #273
@bozomoyy since it's been ~6 weeks since the questions I asked and there is no answer, I assume this issue is solved.  Let me know if it's not!

[2019-04-01 16:13] #273 closed

[2019-04-02 04:00] zzulevi opened #281 "App crash when request permission in Huawei Honor 7"
## Basic Information

Device type: Huawei Honor 7
OS version: 6.0
EasyPermissions version: 2.0.1

## Describe the problem
App crash when request permission in Activity onCreate, if use ActivityCompat API, it can run correctly.

## Code and logs
@Override
 protected void onCreate(Bundle savedInstanceState) {
       if(!EasyPermissions.hasPermissions(this, permissions)){
       ...............

[2019-04-02 08:02] NewHuLe commented on #278
@samtstern This may be the same crash, What should I do？
[code]

[2019-04-04 21:16] samtstern commented on #281
@zzulevi there's nothing in the logs you provided that shows EasyPermissions causing (or being involved in) the crash.  Are there more logs maybe?

[2019-04-15 17:05] hyhyhykw opened #282 "A bug has occurred"
## Basic Information

Device type: Mi8 Lite
OS version: 9.0
EasyPermissions version: 3.0.0 (androidx)

## Describe the problem

When I authorized, manually close the permissions, when I applied again, I clicked the Reject button and executed the onPermissionsGranted method.

## Code and logs

[code]

[2019-04-16 04:00] xuanzhui commented on #204
As @samtstern said there was code to prevent the dialog from being shown twice (check `ActivityPermissionHelper` --> `showRequestPermissionRationale`).
The workaround is to implement `EasyPermissions.RationaleCallbacks`, and override `onRationaleDenied`:

[code]

[2019-04-16 14:17] jaragones commented on #278
I'm also having similar issue (2 reports on Fabric). Any solution? Thanks!

[code]

[code]

[2019-04-17 03:02] hyhyhykw commented on #282
Sorry,I am careless.You can close it

[2019-04-17 15:10] #282 closed

[2019-04-30 02:43] g754687222 commented on #281
@samtstern 我也是这个问题：
设备：小米6，Android7.1.1
EasyPermissions version: 2.0.1
步骤：
1、同时申请2个权限，第一次拒绝一个，同意一个。
2、再次申请刚那2个权限，全部拒绝，页面闪退。

奇怪的是，页面闪退后，Logcat也是打印和上面一样的日志， 并没有EasyPermissions相关日志

[2019-04-30 14:28] ravirajjak opened #283 "EasyPermission Not working in HTC Device"
## Basic Information

Device type: HTC
OS version: Android 5.1
EasyPermissions version: 3.0.0

## Describe the problem
Permission Dialog is not asked

What happened?  What did you expect to happen?
It should ask permission

[code]
// TODO(you): show the code that produces the problem,
//            and any relevant logs.
[code]

[2019-04-30 15:58] samtstern commented on #283
@ravirajjak You're running on "OS version: Android 5.1".  The permissions API did not exist until Android 6.0, so this library won't do anything on that device.  Any permissions in your `AndroidManifest.xml` are automatically granted.

[2019-04-30 15:58] #283 closed

[2019-05-16 09:59] nurhidayat507 commented on #197
Thanksss :D

[2019-05-30 08:15] faith-hb commented on #36
Still won't do

[2019-05-30 08:58] faith-hb commented on #40
Add in the gradle file:
implementation 'com.squareup.retrofit2:adapter-rxjava:2.4.0'

[2019-06-25 02:55] WwhOS commented on #281
java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.
        at android.support.v7.app.AppCompatDelegateImpl.createSubDecor(AppCompatDelegateImpl.java:555)
        at android.support.v7.app.AppCompatDelegateImpl.ensureSubDecor(AppCompatDelegateImpl.java:518)
        at android.support.v7.app.AppCompatDelegateImpl.setContentView(AppCompatDeleg

[2019-06-25 03:11] WwhOS commented on #281
The strange thing is that my Activity does not extend AppCompatActivity

[2019-07-05 15:45] cgpllx commented on #278
Caused by java.lang.NullPointerException: Attempt to invoke direct method 'void pub.devrel.easypermissions.AppSettingsDialog.setActivityOrFragment(java.lang.Object)' on a null object reference
       at pub.devrel.easypermissions.AppSettingsDialog.fromIntent + 81(AppSettingsDialog.java:81)
       at pub.devrel.easypermissions.AppSettingsDialogHolderActivity.onCreate + 29(AppSettingsDialogHolderAct

[2019-07-12 09:36] phanirithvij opened #284 "How does this even work"
In the readme

[code]

1. What is `RC_CAMERA_AND_LOCATION`?
2. Why are we checking if the permissions are not granted in an `AfterPermissionGranted` decorated function?

[2019-07-15 03:33] paradise0love opened #285 "permission dialog not shown"
## Basic Information

Device type: ___xiaomi_4____
OS version: ____6.01____
EasyPermissions version: ____3.0.0____

not show permission dialog when press negative button of  the rationaleDialog.

Here is the examples in the sample app,i just call  locationAndContactsTask()  wen called onPermissionsDenied.

[code]

[2019-07-15 20:10] samtstern commented on #285
@paradise0love how exactly does this fail?  Do you see  the log line `Log.d(TAG, "onPermissionsDenied:");`?

[2019-07-15 20:12] samtstern commented on #284
@phanirithvij that method works like this:

  1. If you have CAMERA and ACCESS_FINE_LOCATION permission, do some action.
  2. If you don't, request the permissions.
  3. If the user grants the permission request, re-run the same method.  Now you should hit the branch (1).

RC_CAMERA_AND_LOCATION is any constant number you want.  Very similar to how you specify your own request code in `startActivi

[2019-07-15 20:12] #284 closed

[2019-07-16 01:51] paradise0love commented on #285
@samtstern yes ,It's the same on the emulator.
The problem is related to the following code;
 if (fragment instanceof RationaleDialogFragmentCompat) {
            Log.d(TAG, "Found existing fragment, not showing rationale.");
            return;
        }

2019-07-16 09:28:02.152 10961-10980/pub.devrel.easypermissions.sample D/EGL_emulation: eglMakeCurrent: 0x9f6ad4e0: ver 3 0 (tinfo 0xa904b730)
2

[2019-08-13 06:26] Zdzzzzzzzzzzzz commented on #285
The same is true for oppo R15x

[2019-08-24 10:05] java1developer commented on #218
For make permission request from service or worker - use Notification.

[2019-09-04 08:25] GitABiao opened #288 "Use in tablet the rationale is too large,even over screen."
## Basic Information

Device type: _HUAWEI M6_
OS version: _Android 9_
EasyPermissions version: ____2.0.1____

## Describe the problem
The rationale is too large,even over screen.
What happened?  What did you expect to happen?

## Code and logs

[code]

[2019-09-04 16:05] samtstern commented on #288
@GitABiao could you show a screenshot of how this looks on the device?

[2019-09-06 08:29] GitABiao commented on #288
It`s like this
![Screenshot_20190906_161443_com abiao arouterdemo](https://user-images.githubusercontent.com/10267859/64412754-b034e480-d0c2-11e9-8321-442dbe7be9c0.jpg)

[2019-09-09 08:55] VMadalin commented on #288
@GitABiao Thank you for the screenshot attached, I tried to reproduce it on simulator forcing rotate screen but unfortunately was no been posible. The devices are Nexus 10 and Pixel C with similar screen resolution with Huawei M6 (2.560 x 1.600)
<img width="1181" alt="Screenshot 2019-09-09 at 10 27 17" src="https://user-images.githubusercontent.com/18151158/64516379-bc9d8500-d2ee-11e9-8f99-71d5372

[2019-09-09 10:17] VMadalin commented on #285
@Zdzzzzzzzzzzzz @paradise0love Thank you for the info, apparently this issue isn't related with the device, and is easy to reproduce by calling `EasyPermissions.requestPermissions` on the callback `onPermissionsDenied`:

[code]

Basically the `RationaleDialogFragmentCompat` isn't removed before callbacks has invoked making imposible to make another requestPermissions and display another rationale

[2019-09-20 11:54] androidlpf commented on #288
click cancel

[2019-09-20 17:45] samtstern commented on #288
@GitABiao it would really help if you showed the code you're using to launch the problematic dialog.

[2019-09-20 17:49] samtstern commented on #285
I think this is actually the correct behavior.  When a user denies you some permission you should not immediately ask for it again!  You should either:

a) Explain why you need it.
b) Tell them they operation they wanted to complete failed and wait for them to launch the flow again,

[2019-09-20 17:49] #285 closed

[2019-09-20 17:49] samtstern commented on #280
Closing this for lack of information.

[2019-09-20 17:49] #280 closed

[2019-09-20 17:50] samtstern commented on #281
@WwhOS I apologize for not responding here!  There's no code in that stacktrace that references `pub.devrel.easypermissions` so it's not enough information to know how to fix this.  Are you sure this crash comes from EP>

[2019-09-20 17:52] samtstern commented on #204
@samvgorode since it's been a while since anyone commented on this thread I am going to close it.  Hopefully you found your answer!

[2019-09-20 17:52] #204 closed

[2019-09-23 07:29] GitABiao commented on #288
I have confirmed that the dialog created by Huawei M6 using Android api will also appear in the same situation I sent, it should not be a bug in this framework.

[2019-09-23 07:38] VMadalin commented on #288
@GitABiao That have a lot of sense, basically because the library use the `dialog` android component for display the rationale message dialog. Thank you for the clarification.

The only solution what I see there is to create a custom view for display, instead the dialog or create an optional callback on request permission method for giving the option to create the user any view their want for show

[2019-09-23 10:13] #288 closed

[2019-09-23 17:31] samtstern commented on #288
@GitABiao thank you for following up and confirming it wasn't something in our code!  I really appreciate it,

[2019-10-23 08:11] Waye3 commented on #140
how you solved it

[2019-11-13 05:30] yanjiepeng opened #291 "Crash when deny permissions."
## Basic Information

Device type:SAMSUNG G9200 ，HUAWEI Honor8 Lite
OS version: Android7.0 Android 8.0
EasyPermissions version: 2.0.0 and 2.0.1

## Describe the problem

Crash when deny permissions. I have already tested two situations：
1. Turn off camera permission in system settings.
2. deny the camera permission when the first request.
restart App it will crash.

## Code and logs
Code:

[code]

[2019-11-13 05:55] #291 closed

[2019-11-20 06:17] centerzx opened #292 "permissionsgranted and permissionsdenied will be called continuously."
## Basic Information

Device type: ___xiao mi 4S_____
OS version: ___7.0_____
EasyPermissions version: ___2.0.1_____

##DES：
Request permission: manifest.permission.camera, manifest.permission.record'audio, manifest.permission.write'external'storage, manifest.permission.read'external'storage

Among them, 2 are allowed, 1 is denied, and the operation method is added to the onpermissionsgranted meth

[2019-12-12 12:56] zhuoCreator opened #293 "What does dialog write about，Headache"

[2019-12-12 15:08] #293 closed

[2019-12-12 15:56] hemantparmar23 opened #294 "Empty Rationale Dialog with cancel and ok button."
## Basic Information

Device type: _Xiaomi Redmi Note 7 Pro_
OS version: __9.0______
EasyPermissions version: _3.0.0_(androidX)

## Describe the problem
While trying to integrate easypermissions into my app. The permissions work fine the first time but when rationale dialog is supposed to be shown (the second time I request permission after the first time it was denied) I get a empty rationale dia

[2019-12-12 16:13] samtstern commented on #294
This looks like it might be a theme issue?  The buttons in the picture have
a grey background and white text.  If the text in the dialog is white it
would be invisible.

Can you try changing your app theme temporarily to a darker text color and
see if you can see the text?

On Thu, Dec 12, 2019, 7:56 AM hemantparmar23 <notifications@github.com>
wrote:

[2019-12-15 07:17] hemantparmar23 commented on #294
Thanks
It was indeed a styling issue on my part.

[2019-12-15 07:17] #294 closed

[2019-12-27 13:52] bitvale commented on #292
Try to add `perms` size check in `onPermissionsGranted`:

    if (requestCode == PermissionUtil.LIVE_PERMISSION_CODE) {
            if (perms.size() == 4) {
                   grantedStartLive();
            }
    }

[2020-01-02 20:52] samtstern commented on #292
Sorry I never responded here!  I totally missed this.  @bitvale has the correct solution though, `onPermissionsGranted` will be called even if only some permissions are granted.

[2020-01-02 20:52] #292 closed

[2020-01-15 02:08] moyinqingshang opened #295 "Questions about using easypermissions version 1.3.0"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ____1.3.0____

## Describe the problem
Due to other reasons, the project can only use targetSdkVersion 27 at present and cannot upgrade to targetSdkVersion 28. May I ask if there are any bugs or impacts if version 1.3.0 of easypermissions is used?
What happened?  What did you expect to happen?

## Code and lo

[2020-01-15 17:46] samtstern commented on #295
You can see the changes in each version here:
https://github.com/googlesamples/easypermissions/releases

You can still use 1.3.0 if you want to, you just won't get the features and bug fixes from later releases.

[2020-01-15 17:46] #295 closed

[2020-02-13 03:30] HarveyLeeChn opened #296 "how can i remove rationale dialog?"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ________

## Describe the problem

What happened?  What did you expect to happen?

## Code and logs

[code]

[2020-02-13 16:35] samtstern commented on #296
@HarveyLeeChn you cannot.  EasyPermissions is an opinionated library that implements the recommended flows.  If you want custom flows you will have to use the base permissions API yourself.

[2020-02-13 16:35] #296 closed

[2020-02-14 04:16] lovehahazy commented on #281
您好，我在使用中也遇到了崩溃。崩溃日志中有这样的信息：permission check result is: 601

[2020-02-14 04:47] lovehahazy commented on #281
@zzulevi @samtstern   这个信息是error.  但是我找不到出错原因。二位看到麻烦联系我一下，非常感谢

[2020-02-14 04:48] lovehahazy commented on #281
@zzulevi @samtstern 这个信息是error. 但是我找不到出错原因。二位看到麻烦联系我一下（张 13382851856），非常感谢

[2020-02-14 09:35] Chinecherem20199 commented on #121
change it to implementation and then sync it again

[2020-02-14 11:33] lovehahazy opened #297 "PermissionCheck: permission check result is: 601"
## Basic Information

Device type: ______华为V10_全网通
OS version: ________
EasyPermissions version: ________3.0.0
gradle:3.5.3   Androidx

## Describe the problem
程序有崩溃，在日志中发现这样的代码：
02-14 16:49:27.386 15560 15560 E PermissionCheck: permission check result is: 601

[2020-02-14 17:21] samtstern commented on #297
@lovehahazy sorry this is not enough information to debug.  I would need code to reproduce the problem and more logs that show exactly where this code is coming from!  If you need help but can't provide those things, please try StackOverflow.

[2020-02-14 17:21] #297 closed

[2020-02-15 00:46] lovehahazy opened #298 "app crash :PermissionCheck: permission check result is: 601"
## Basic Information

Device type: _______华为 note 4e   ；华为v10 全网通
OS version: ________
EasyPermissions version: ________3.0.0

## Describe the problem

When we use the cloud real machine to test, we find that the application will crash. The error log contains the following：
“02-14 16:49:27.386 15560 15560 E PermissionCheck: permission check result is: 601”

[2020-02-16 00:12] lovehahazy commented on #298
Sorry to bother you. I think I need to further identify the root cause of the problem. Maybe the problem is somewhere else. If I can further prove that the problem is from here, I will leave a message. I'm really sorry.

[2020-02-16 00:14] lovehahazy commented on #297
Sorry to bother you. I think I need to further identify the root cause of the problem. Maybe the problem is somewhere else. If I can further prove that the problem is from here, I will leave a message. I'm really sorry.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Sam Stern"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月15日(星期六) 凌晨1:21
收件人:&nbsp;"googlesamples/easypermissions

[2020-02-21 07:22] lovehahazy commented on #298
Finally, the problem is solved. It has nothing to do with this library. I made a mistake

[2020-02-21 07:22] #298 closed

[2020-02-21 17:31] samtstern commented on #298
@lovehahazy thank you for updating this!

[2020-03-10 08:56] cancanw opened #300 "请问有适配android 10么？"
请问有适配android 10么？

[2020-03-10 08:57] #300 closed

[2020-03-10 12:53] bubenheimer opened #301 "Support asking for permissions again after returning from permissions settings"
## Basic Information

Device type: Emulator
OS version: R DP1
EasyPermissions version: 3.0.0

## Describe the problem

EasyPermissions should offer a facility to automatically request a permission again after a user has returned from manually adjusting app permissions in the app info permissions settings dialog.

In Android R DP1 a user may select "Ask every time" in the permissions settings dialo

[2020-03-14 15:48] bubenheimer commented on #301
Right now, for Android 11 DP1.1, handling the user selection in settings asks for code similar to the following, which should be possible to simplify via changed EasyPermissions APIs:

    @Override
    protected void onActivityResult(
            int requestCode,
            int resultCode,
            @Nullable Intent data
    ) {
        if (requestCode != AppSettingsDialog.DEFAULT_SETTINGS_REQ

[2020-03-14 16:58] bubenheimer commented on #301
I have created a related Android platform issuetracker issue regarding the incorrect behavior of `shouldShowRequestPermissionRationale()`:
https://issuetracker.google.com/issues/151427074

[2020-03-20 14:53] samtstern commented on #301
@bubenheimer thanks for filing this.  So is the main request here to add some request permissions function that never shows rationale?  That way you don't need to do the platform `requestPermissions` call?

[2020-03-22 16:18] bubenheimer commented on #301
I'm not sure what the best APIs might be to add to capture the new settings-related workflows in Android 11. I'd assume that related Android 11 APIs are still in flux, so this issue is more of a TODO reminder at this point to call out a future need for change. Here are my thoughts:

In the foreground location permission case that I am focusing on in this issue there are 3 possible outcomes when re

[2020-03-22 16:24] bubenheimer commented on #301
For reference, here's the URL for other Android 11 permission changes, in addition to background location permission changes: https://developer.android.com/preview/privacy/permissions

[2020-03-26 09:17] BodhiSun commented on #296
Hello ,when i looked at the EP(3.0.0) source code,I found requestPermissions(...) method which contains a toggle method 'shouldShowRationale()', i found it relies on Activity's(or Fragment) method,so when i override Activity's(or Fragment) 'shouldShowRequestPermissionRationale(...)' method and return false,The rationale dialog really skips;

[2020-04-03 07:24] zhudaihao opened #302 "minSdkVersion"
## Basic Information

Device type: ________
OS version: ________
EasyPermissions version: ________

## Describe the problem

What happened?  What did you expect to happen?

## Code and logs

[code]

[2020-04-03 07:25] zhudaihao opened #303 "minSdkVersion16依赖报错"
项目minSdkVersion16报错，21就正常

[2020-04-03 12:22] samtstern commented on #303
I'm sorry but this is not enough information to help.

[2020-04-03 12:22] #303 closed

[2020-04-03 12:22] samtstern commented on #302
I'm sorry but this is not enough information to help.

[2020-04-03 12:22] #302 closed

[2020-04-11 14:51] Ucdemir commented on #278
Caused by java.lang.NullPointerException: Attempt to invoke direct method 'void pub.devrel.easypermissions.AppSettingsDialog.setActivityOrFragment(java.lang.Object)' on a null object reference
       at pub.devrel.easypermissions.AppSettingsDialog.fromIntent(AppSettingsDialog.java:86)
       at pub.devrel.easypermissions.AppSettingsDialogHolderActivity.onCreate(AppSettingsDialogHolderActivity.java

[2020-04-11 14:51] Ucdemir commented on #278
any solution

[2020-04-11 14:52] Ucdemir commented on #278
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{yazilim.hilal.yesil.studytimetable/pub.devrel.easypermissions.AppSettingsDialogHolderActivity}: java.lang.NullPointerException: Attempt to invoke direct method 'void pub.devrel.easypermissions.AppSettingsDialog.setActivityOrFragment(java.lang.Object)' on a null object reference
       at android.app.ActivityThread.

[2020-04-16 01:39] xgeeek commented on #296
Yes, you are right!

[2020-04-16 01:40] xgeeek commented on #296
exactly

[2020-05-11 13:59] caycek commented on #278
So this is still happening to Nexus 6 devices on Nougat (7.1.1). Did anyone determine what the actual cause of this is? I can't seem to figure out where the null comes from since the fragment / activities being used shouldn't be null when invoking the call.

[2020-05-17 15:06] mtwalli opened #304 "Support new activity result API"
Current permission request in Android will be deprecated  starting from
`androidx.activity:activity:1.2.0`  and `androidx.fragment:fragment:1.3.0`.

The new [Activity Result API](https://developer.android.com/training/basics/intents/result)
will be used instead of current one.
It would be nice to add support for it.

[2020-05-18 18:17] samtstern commented on #304
@Mo-Jamal thanks for the heads up!  I hadn't heard about this new API.  You're right, EasyPermissions should use it.

[2020-06-24 07:51] handhikadj opened #305 "[Workaround] Invoke an action when permission prompts are allowed"
## Basic Information

Device type: Samsung A20
OS version: 29
EasyPermissions version: 3.0.0

## Describe the problem

I'm unable to do an action when permission prompts are allowed
I need a workaround to do it

### Code

[code]

[2020-06-24 08:24] handhikadj commented on #305
sorry my bad. problem's solved

[2020-06-24 08:24] #305 closed

[2020-06-27 07:52] kaviara-14 opened #306 "Google"

[2020-06-27 07:53] #306 closed

[2020-06-27 14:23] MichaelObi commented on #304
@samtstern Is this already being addressed or can I work on a PR?

[2020-07-22 04:50] Dongjian413 opened #310 "API recommended"
API is too limited, it has to pass activity or Fragment. Currently, it is impossible to request permissions in any View. In fact, I think permissions should not be associated with the interface, just a separate functional API

[2020-07-22 10:23] samtstern commented on #310
@Dongjian413 EasyPermissions is an opinionated API on top of the base Android permissions API.  We believe that permissions should only be requested while the app is in the foreground, which is why we request an `Activity` or a `Fragment`.

The base system API only needs a `Context` so if you want to request permissions in other flows you can use that:
https://developer.android.com/training/permis

[2020-07-22 10:23] #310 closed

[2020-08-13 02:03] jhwsx opened #311 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewGroup$LayoutParams android.view.View.getLayoutParams()' on a null object reference"
## Basic Information

EasyPermissions version: 3.0.0

## Describe the problem

I haven't reproduced this problem, which is reported online.

## Code and logs

[code]

[2020-08-13 10:40] samtstern commented on #311
@jhwsx so there's nothing in that stacktrace that references easypermissions, what makes you suspect this is a bug in the library?

[2020-08-13 12:29] jhwsx commented on #311
The behavior trace of users is related to permission request process, which is backed by EP. Actually, I am not 100% sure that it is a problem of EP, which I, however, simply am apt to.
I will be sorry if it really isn't a problem of EP.

[2020-08-14 06:51] jhwsx commented on #311
@samtstern Could you please help me exclude that it's a problem of EP?

[2020-08-14 10:42] samtstern commented on #311
@jhwsx sorry given that you can't reproduce this in your own testing it's not going to be possible for me to debug it,.

[2020-08-17 08:19] RutaleIvanPaul commented on #305
@handhikadj How did you solve this? I am having a similar issue

[2020-08-17 15:28] handhikadj commented on #305
@RutaleIvanPaul if I can recall, i fixed it to:

[code]

[2020-08-17 19:22] SeanAshley5 opened #312 "Bug"

[2020-08-18 08:57] #312 closed

[2020-09-02 03:20] tmac1999 commented on #275
It is because after Android 6.0, when you  put  APP in background and go to Setting ,disable the permission ,the APP will be terminated.

[2020-09-05 16:35] jamalguracha opened #313 "@samtstern This may be the same crash, without obfuscation. I got it during a stress test."
@samtstern This may be the same crash, without obfuscation. I got it during a stress test.
Nexus 6, Android 7

[code]

_Originally posted by @artakka in https://github.com/googlesamples/easypermissions/issues/278#issuecomment-478466779_

[2020-09-08 13:04] samtstern commented on #313
I think this was opened by mistake.

[2020-09-08 13:04] #313 closed

[2020-10-11 00:32] IggySaban opened #314 "0"
10

[2020-10-11 00:33] #314 closed

[2020-10-26 14:40] abhiint16 commented on #278
Device : LGE Nexus 4
Version: 6.0.1
Rooted: No

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.project100pi.video.downloader.videodownloader/pub.devrel.easypermissions.AppSettingsDialogHolderActivity}: java.lang.NullPointerException: Attempt to write to field 'java.lang.Object v.a.a.b.l' on a null object reference
       at android.app.ActivityThread.perfo

[2020-11-03 03:41] sachithd commented on #304
Is there any plan to support the new API? thanks

[2020-11-03 12:44] samtstern commented on #304
I haven't had time to work on this, if anyone wants to submit a PR I am happy to review.

[2020-11-05 15:39] swetha-thoomoju commented on #165
Hi,
I am facing the same issue mentioned by @thuan09878. When I use standard requestPermissions() not triggering @afterpermissiongranted.

This is really confusing to ask permission twice. Is there any fix for this?

[2020-11-05 16:06] swetha-thoomoju commented on #165
Sorry, Figure it. Standard requestPermissions() is different for Activity and Fragment.

Replaced
`ActivityCompat.requestPermissions(
        getActivity(),
        new String[]{Manifest.permission.READ_CALENDAR,  Manifest.permission.WRITE_CALENDAR},
        Permissions.CALENDAR_REQUEST_CODE);`

With

`requestPermissions(
                new String[]{Manifest.permission.READ_CALENDAR,  Manifest.pe